-----

-----

# PHASE-1

-----

-----

# Chicago

In [1]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

In [2]:
# empty lists
Sno = []
BHK_type = []
Property_Type = []
beds = []
bathroom = []
Balcony = []
Address = []
City = []
State_code = []
Country = []
Landmarks = []
carpetarea = []
status = []
floor = []
transaction_type = []
Year_Built = []
price_per_square_feet = []
furnished_status = []
facing = []
Car_Parking = []
Type_of_ownership = []
booking_amount = []
buy_total_price = []

# chrome browser to webdriver
driver=webdriver.Chrome()

In [3]:
# Load website
driver.get("https://vestapreferred.com/")

In [4]:
#maximizing the window
driver.maximize_window()

In [6]:
# Find search box 
search_box = driver.find_element(By.XPATH,"/html/body/main/header/div/div[2]")
search_box.click()

In [7]:
# Find search box 
search_box = driver.find_element(By.XPATH,"/html/body/main/div[1]/div[2]/ul/li[1]/a")
search_box.click()

In [8]:
propertiess=[]

In [9]:
for p in driver.find_elements(By.XPATH,'//div[@itemtype="http://schema.org/House"]/a'):
    propertiess.append(p.get_attribute('href'))

In [11]:
for i in propertiess:  # Iterating each and every URL to fetch full details
    driver.get(i)  # Taking each URL one by one as an input
    sleep(1)

    # BHK_type 
    try:
        bhk = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[2]/div[1]')
        BHK_type.append(bhk.text)
    except:
        BHK_type.append('None')

    # BEDS 
    try:
        beds_ = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[2]/div[1]')
        beds.append(beds_.text)
    except:
        beds.append('None')

    # Bathroom
    try:
        bath = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[3]/div[1]')
        bathroom.append(bath.text)
    except:
        bathroom.append('None')

    # Carpet area
    try:
        cart_area = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[4]/div[1]')
        carpetarea.append(cart_area.text)
    except:
        carpetarea.append('None')

    # Price per square feet
    try:
        PRSF = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[5]/div[1]')
        price_per_square_feet.append(PRSF.text)
    except:
        price_per_square_feet.append('None')

    # Property_Type
    try:
        Pro_ = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[2]/div[2]')
        Property_Type.append(Pro_.text)
    except:
        Property_Type.append('None')

    # Status
    try:
        sta = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[8]/div[2]')
        status.append(sta.text if sta.text == 'Active' else 'None')
    except:
        status.append('None')

    # Year Built
    try:
        Year = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[10]/div[2]')
        year_text = Year.text.strip()
        
        if year_text.isdigit() and len(year_text) == 4:
            Year_Built.append(int(year_text))
        else:
            Year_Built.append('None')  # Append 'NaN' if not a valid year
    except:
        Year_Built.append('None')


    # Landmarks
    try:
        Landma = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[5]/div[2]')
        Landmarks.append(Landma.text)
    except:
        Landmarks.append('None')

    # Balcony
    try:
        Balc = driver.find_element(By.XPATH, '//div[@data-testid="property-features-block"]/div[2]/ul/li[1]')
        Balcony.append(Balc.text if Balc.text == 'Balcony' else 'None')
    except:
        Balcony.append('None')

    # Address
    try:
        Addr = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[1]')
        Address.append(Addr.text)
    except:
        Address.append('None')

    # City
    try:
        Cit = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        city_text = Cit.text.split(',')[0]  # Split the text by comma and get the first part
        City.append(city_text)
    except:
        City.append('None')

    # State_code
    try:
        State_cod = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        State_code_ = State_cod.text.split(',')[1].strip()  # Split the text by comma and get the second part
        State_code.append(State_code_)
    except:
        State_code.append('None')

    # Country
    try:
        Addr = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        Country.append(Addr.text)
    except:
        Country.append('United States')

    # Floor
    try:
        fl = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        floor.append(fl.text)
    except:
        floor.append('None')

    # Transaction type
    try:
        trans = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        transaction_type.append(trans.text)
    except:
        transaction_type.append('None')

    # Furnished status
    try:
        furnish = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        furnished_status.append(furnish.text)
    except:
        furnished_status.append('None')

    # Facing
    try:
        fac = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        facing.append(fac.text)
    except:
        facing.append('None')

    # Car Parking
    try:
        Car_Par = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        Car_Parking.append(Car_Par.text)
    except:
        Car_Parking.append('None')

    # Type of ownership
    try:
        Type_of_owners = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        Type_of_ownership.append(Type_of_owners.text)
    except:
        Type_of_ownership.append('None')

    # Booking amount
    try:
        booking = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        booking_amount.append(booking.text)
    except:
        booking_amount.append('None')

    # Buy total price
    try:
        buy_t = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[1]/div[2]')
        price_usd = buy_t.text.replace('$', '').replace(',', '')  # Remove '$' and ','
        price_inr = round(float(price_usd) * 83.12)  # Convert to float and multiply by conversion rate
        buy_total_price.append(f'{price_inr:}')  # Format the output as INR
    except:
        buy_total_price.append('None')
        
        
    
# Quit WebDriver
driver.quit()

In [12]:
df1=pd.DataFrame({
    "BHK_type": BHK_type,
    "Beds": beds,
    "Bathroom": bathroom,
    "Carpet_area": carpetarea,
    "Price_per_square_feet": price_per_square_feet,
    "Property_Type": Property_Type,
    "Status": status,
    "Year_Built": Year_Built,
    "Landmarks": Landmarks,
    "Balcony": Balcony,
    "Address": Address,
    "City": City,
    "State_Code": State_code,
    "Country": Country,
    "Floor": floor,
    "Transaction_Type": transaction_type,
    "Furnished_Status": furnished_status,
    "Facing": facing,
    "Car_Parking": Car_Parking,
    "Type_of_Ownership": Type_of_ownership,
    "Booking_Amount": booking_amount,
    "Buy_Total_Price": buy_total_price
})

In [33]:
df1

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,3,3,2,"1,500",346,Condo,Active,2004,CHI - Logan Square,Balcony,...,IL 60614,United States,None,None,None,None,None,None,None,43139280
1,4,4,3,None,None,Condo,Active,2015,CHI - Avondale,None,...,IL 60618,United States,None,None,None,None,None,None,None,49863688
2,2,2,2,"1,300",296,Condo,Active,1988,CHI - Lincoln Park,None,...,IL 60614,United States,None,None,None,None,None,None,None,32001200
3,4,4,4,"4,000",350,Condo,None,None,Cook,None,...,IL 60610,United States,None,None,None,None,None,None,None,116284880
4,3,3,2.5,None,None,Condo,None,None,Cook,Balcony,...,IL 60614,United States,None,None,None,None,None,None,None,52781200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,5,5,4.5,None,None,Homes (Single Family),Active,1888,Cook,None,...,IL 60610,United States,None,None,None,None,None,None,None,115536800
110,2,2,2,"1,348",370,Condo,Active,2008,CHI - Loop,None,...,IL 60601,United States,None,None,None,None,None,None,None,41476880
111,2,2,1,"1,200",208,Condo,Active,1928,CHI - Logan Square,None,...,IL 60647,United States,None,None,None,None,None,None,None,20738440
112,4,4,4,"4,000",369,Condo,None,None,Cook,None,...,IL 60610,United States,None,None,None,None,None,None,None,122602000
113,3,3,2.5,"1,700",352,Condo,None,None,Cook,Balcony,...,IL 60647,United States,None,None,None,None,None,None,None,49788880

In [34]:
df1.to_csv('chicago.csv', index=False)

In [2]:
df=pd.read_csv(r'chicago.csv')

In [3]:
df

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,3,3,2.0,"1,500",346,Condo,Active,2004.0,CHI - Logan Square,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43139280.0
1,4,4,3.0,NaN,NaN,Condo,Active,2015.0,CHI - Avondale,NaN,...,IL 60618,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49863688.0
2,2,2,2.0,"1,300",296,Condo,Active,1988.0,CHI - Lincoln Park,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32001200.0
3,4,4,4.0,"4,000",350,Condo,NaN,NaN,Cook,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116284880.0
4,3,3,2.5,NaN,NaN,Condo,NaN,NaN,Cook,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52781200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,5,5,4.5,NaN,NaN,Homes (Single Family),Active,1888.0,Cook,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115536800.0
110,2,2,2.0,"1,348",370,Condo,Active,2008.0,CHI - Loop,NaN,...,IL 60601,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41476880.0
111,2,2,1.0,"1,200",208,Condo,Active,1928.0,CHI - Logan Square,NaN,...,IL 60647,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20738440.0
112,4,4,4.0,"4,000",369,Condo,NaN,NaN,Cook,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122602000.0
113,3,3,2.5,"1,700",352,Condo,NaN,NaN,Cook,Balcony,...,IL 60647,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49788880.0

-----

--------

# Chicago

In [5]:
# empty lists
Sno = []
BHK_type = []
Property_Type = []
beds = []
bathroom = []
Balcony = []
Address = []
City = []
State_code = []
Country = []
Landmarks = []
carpetarea = []
status = []
floor = []
transaction_type = []
Year_Built = []
price_per_square_feet = []
furnished_status = []
facing = []
Car_Parking = []
Type_of_ownership = []
booking_amount = []
buy_total_price = []

# chrome browser to webdriver
driver=webdriver.Chrome()

In [6]:
# Load website
driver.get("https://vestapreferred.com/")

In [7]:
#maximizing the window
driver.maximize_window()

In [9]:
# Find search box 
search_box = driver.find_element(By.XPATH,"/html/body/main/header/div/div[2]")
search_box.click()

In [10]:
# Find search box and input the product
search_box = driver.find_element(By.XPATH,"/html/body/main/div[1]/div[2]/ul/li[1]/a")
search_box.click()

In [20]:
properties_=[]

In [21]:
for p in driver.find_elements(By.XPATH,'//div[@itemtype="http://schema.org/House"]/a'):
    properties_.append(p.get_attribute('href'))

In [23]:
for i in properties_:  # Iterating each and every URL to fetch full details
    driver.get(i)  # Taking each URL one by one as an input
    sleep(1)

    # BHK_type 
    try:
        bhk = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[2]/div[1]')
        BHK_type.append(bhk.text)
    except:
        BHK_type.append('None')

    # BEDS 
    try:
        beds_ = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[2]/div[1]')
        beds.append(beds_.text)
    except:
        beds.append('None')

    # Bathroom
    try:
        bath = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[3]/div[1]')
        bathroom.append(bath.text)
    except:
        bathroom.append('None')

    # Carpet area
    try:
        cart_area = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[4]/div[1]')
        carpetarea.append(cart_area.text)
    except:
        carpetarea.append('None')

    # Price per square feet
    try:
        PRSF = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[5]/div[1]')
        price_per_square_feet.append(PRSF.text)
    except:
        price_per_square_feet.append('None')

    # Property_Type
    try:
        Pro_ = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[2]/div[2]')
        Property_Type.append(Pro_.text)
    except:
        Property_Type.append('None')

    # Status
    try:
        sta = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[8]/div[2]')
        status.append(sta.text if sta.text == 'Active' else 'None')
    except:
        status.append('None')

    # Year Built
    try:
        Year = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[10]/div[2]')
        year_text = Year.text.strip()
        
        if year_text.isdigit() and len(year_text) == 4:
            Year_Built.append(int(year_text))
        else:
            Year_Built.append('None')  # Append 'NaN' if not a valid year
    except:
        Year_Built.append('None')


    # Landmarks
    try:
        Landma = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[5]/div[2]')
        Landmarks.append(Landma.text)
    except:
        Landmarks.append('None')

    # Balcony
    try:
        Balc = driver.find_element(By.XPATH, '//div[@data-testid="property-features-block"]/div[2]/ul/li[1]')
        Balcony.append(Balc.text if Balc.text == 'Balcony' else 'None')
    except:
        Balcony.append('None')

    # Address
    try:
        Addr = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[1]')
        Address.append(Addr.text)
    except:
        Address.append('None')

    # City
    try:
        Cit = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        city_text = Cit.text.split(',')[0]  # Split the text by comma and get the first part
        City.append(city_text)
    except:
        City.append('None')

    # State_code
    try:
        State_cod = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        State_code_ = State_cod.text.split(',')[1].strip()  # Split the text by comma and get the second part
        State_code.append(State_code_)
    except:
        State_code.append('None')

    # Country
    try:
        Addr = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        Country.append(Addr.text)
    except:
        Country.append('United States')

    # Floor
    try:
        fl = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        floor.append(fl.text)
    except:
        floor.append('None')

    # Transaction type
    try:
        trans = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        transaction_type.append(trans.text)
    except:
        transaction_type.append('None')

    # Furnished status
    try:
        furnish = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        furnished_status.append(furnish.text)
    except:
        furnished_status.append('None')

    # Facing
    try:
        fac = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        facing.append(fac.text)
    except:
        facing.append('None')

    # Car Parking
    try:
        Car_Par = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        Car_Parking.append(Car_Par.text)
    except:
        Car_Parking.append('None')

    # Type of ownership
    try:
        Type_of_owners = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        Type_of_ownership.append(Type_of_owners.text)
    except:
        Type_of_ownership.append('None')

    # Booking amount
    try:
        booking = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        booking_amount.append(booking.text)
    except:
        booking_amount.append('None')

    # Buy total price
    try:
        buy_t = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[1]/div[2]')
        price_usd = buy_t.text.replace('$', '').replace(',', '')  # Remove '$' and ','
        price_inr = round(float(price_usd) * 83.12)  # Convert to float and multiply by conversion rate
        buy_total_price.append(f'{price_inr:}')  # Format the output as INR
    except:
        buy_total_price.append('None')
        
        
    
# Quit WebDriver
driver.quit()

In [24]:
df2=pd.DataFrame({
    "BHK_type": BHK_type,
    "Beds": beds,
    "Bathroom": bathroom,
    "Carpet_area": carpetarea,
    "Price_per_square_feet": price_per_square_feet,
    "Property_Type": Property_Type,
    "Status": status,
    "Year_Built": Year_Built,
    "Landmarks": Landmarks,
    "Balcony": Balcony,
    "Address": Address,
    "City": City,
    "State_Code": State_code,
    "Country": Country,
    "Floor": floor,
    "Transaction_Type": transaction_type,
    "Furnished_Status": furnished_status,
    "Facing": facing,
    "Car_Parking": Car_Parking,
    "Type_of_Ownership": Type_of_ownership,
    "Booking_Amount": booking_amount,
    "Buy_Total_Price": buy_total_price
})

In [29]:
df2

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,1,1,550,291,None,Condo,Active,1964,CHI - Near North Side,None,...,IL 60610,United States,None,None,None,None,None,None,None,13290888
1,3,3,2,"1,500",346,Condo,Active,2004,CHI - Logan Square,Balcony,...,IL 60614,United States,None,None,None,None,None,None,None,43139280
2,4,4,3,None,None,Condo,Active,2015,CHI - Avondale,None,...,IL 60618,United States,None,None,None,None,None,None,None,49863688
3,2,2,2,"1,300",296,Condo,Active,1988,CHI - Lincoln Park,None,...,IL 60614,United States,None,None,None,None,None,None,None,32001200
4,4,4,4,"4,000",350,Condo,None,None,Cook,None,...,IL 60610,United States,None,None,None,None,None,None,None,116284880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,2,2,1.5,None,None,Condo,None,None,Cook,None,...,IL 60614,United States,None,None,None,None,None,None,None,34494800
104,5,5,5,"5,705",508,Condo,Active,2000,CHI - Near North Side,None,...,IL 60611,United States,None,None,None,None,None,None,None,241048000
105,4,4,3.5,"3,900",513,Condo,None,None,Cook,None,...,IL 60654,United States,None,None,None,None,None,None,None,166240000
106,2,2,1,None,None,Condo,Active,None,CHI - West Town,None,...,IL 60622,United States,None,None,None,None,None,None,None,None
107,4,4,3.5,None,None,Condo,None,None,Cook,None,...,IL 60654,United States,None,None,None,None,None,None,None,95588000

In [30]:
df2.to_csv('chicago_2.csv', index=False)

In [4]:
df2=pd.read_csv(r'chicago_2.csv')

In [5]:
df2

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,1,1,550.0,291,NaN,Condo,Active,1964.0,CHI - Near North Side,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13290888.0
1,3,3,2.0,"1,500",346,Condo,Active,2004.0,CHI - Logan Square,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43139280.0
2,4,4,3.0,NaN,NaN,Condo,Active,2015.0,CHI - Avondale,NaN,...,IL 60618,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49863688.0
3,2,2,2.0,"1,300",296,Condo,Active,1988.0,CHI - Lincoln Park,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32001200.0
4,4,4,4.0,"4,000",350,Condo,NaN,NaN,Cook,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116284880.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,2,2,1.5,NaN,NaN,Condo,NaN,NaN,Cook,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34494800.0
104,5,5,5.0,"5,705",508,Condo,Active,2000.0,CHI - Near North Side,NaN,...,IL 60611,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241048000.0
105,4,4,3.5,"3,900",513,Condo,NaN,NaN,Cook,NaN,...,IL 60654,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,166240000.0
106,2,2,1.0,NaN,NaN,Condo,Active,NaN,CHI - West Town,NaN,...,IL 60622,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,4,4,3.5,NaN,NaN,Condo,NaN,NaN,Cook,NaN,...,IL 60654,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95588000.0

In [6]:
df = pd.concat([df, df2])

In [7]:
df = df.reset_index(drop=True)

In [8]:
df

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,3,3,2.0,"1,500",346,Condo,Active,2004.0,CHI - Logan Square,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43139280.0
1,4,4,3.0,NaN,NaN,Condo,Active,2015.0,CHI - Avondale,NaN,...,IL 60618,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49863688.0
2,2,2,2.0,"1,300",296,Condo,Active,1988.0,CHI - Lincoln Park,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32001200.0
3,4,4,4.0,"4,000",350,Condo,NaN,NaN,Cook,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116284880.0
4,3,3,2.5,NaN,NaN,Condo,NaN,NaN,Cook,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52781200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,2,2,1.5,NaN,NaN,Condo,NaN,NaN,Cook,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34494800.0
218,5,5,5.0,"5,705",508,Condo,Active,2000.0,CHI - Near North Side,NaN,...,IL 60611,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241048000.0
219,4,4,3.5,"3,900",513,Condo,NaN,NaN,Cook,NaN,...,IL 60654,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,166240000.0
220,2,2,1.0,NaN,NaN,Condo,Active,NaN,CHI - West Town,NaN,...,IL 60622,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,4,4,3.5,NaN,NaN,Condo,NaN,NaN,Cook,NaN,...,IL 60654,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95588000.0

In [9]:
df.tail()

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
217,2,2,1.5,NaN,NaN,Condo,NaN,NaN,Cook,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34494800.0
218,5,5,5.0,"5,705",508,Condo,Active,2000.0,CHI - Near North Side,NaN,...,IL 60611,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241048000.0
219,4,4,3.5,"3,900",513,Condo,NaN,NaN,Cook,NaN,...,IL 60654,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,166240000.0
220,2,2,1.0,NaN,NaN,Condo,Active,NaN,CHI - West Town,NaN,...,IL 60622,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,4,4,3.5,NaN,NaN,Condo,NaN,NaN,Cook,NaN,...,IL 60654,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95588000.0

-----

------

only for house 

Realtor.com - https://www.realtor.com/
Zillow - https://www.zillow.com/  
MagicBricks - https://www.magicbricks.com/   
NoBroker - https://www.nobroker.in/  
    
   
https://www.zillow.com/homes/
https://www.redfin.com/city/29470/IL/Chicago
https://www.trulia.com/

# Bengaluru

In [1]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

In [2]:
# empty lists
Sno = []
BHK_type = []
Property_Type = []
beds = []
bathroom = []
Balcony = []
Address = []
City = []
State_code = []
Country = []
Landmarks = []
carpetarea = []
status = []
floor = []
transaction_type = []
Year_Built = []
price_per_square_feet = []
furnished_status = []
facing = []
Car_Parking = []
Type_of_ownership = []
booking_amount = []
buy_total_price = []

# chrome browser to webdriver
driver=webdriver.Chrome()

In [3]:
# Load website
driver.get("https://www.nobroker.in/")

In [4]:
#maximizing the window
driver.maximize_window()

In [5]:
# Find search box 
search_box = driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[1]/div[4]/button")
search_box.click()

In [6]:
propertiess=[]

In [7]:
for p in driver.find_elements(By.XPATH,'//h2[@class="heading-6 flex items-center font-semi-bold m-0"]/a'):
    propertiess.append(p.get_attribute('href'))

In [8]:
len(propertiess)

350

In [9]:
for i in propertiess:  # Iterating each and every URL to fetch full details
    driver.get(i)  # Taking each URL one by one as an input
    sleep(1)

    # BHK_type 
    try:
        beds_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[1]/div[2]/span/h4')
        bed_text = beds_.text.replace('Bedroom', '').strip()
        BHK_type.append(bed_text)
    except:
        BHK_type.append('None')

    # Bathroom
    try:
        bath = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[3]/div[2]/span/h4')
        bath_text = bath.text.replace('Bathroom', '').strip()
        bathroom.append(bath_text)
    except:
        bathroom.append('None')

    # Carpet area
    try:
        cart_area = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[6]/div[3]/h5')
        if 'Sq.Ft' in cart_area.text:
            carpet_area = cart_area.text.replace(' Sq.Ft', '').replace(',', '')  # Remove ' Sq.Ft' and commas
            carpetarea.append(carpet_area)
        else:
            carpetarea.append('None')
    except:
        carpetarea.append('None')

    # Price per square feet
    try:
        PRSF = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[5]/div[1]')
        price_per_square_feet.append(PRSF.text)
    except:
        price_per_square_feet.append('None')

    # Property_Type
    try:
        Pro_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[6]/div[2]/span/h4')
        Property_Type.append(Pro_.text)
    except:
        Property_Type.append('None')

    # Status
    try:
        sta = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[4]/div[2]/span/h4')
        status.append(sta.text)
    except:
        status.append('None')

    # Year Built
    try:
        Year = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[10]/div[2]')
        year_text = Year.text.strip()
        
        if year_text.isdigit() and len(year_text) == 4:
            Year_Built.append(int(year_text))
        else:
            Year_Built.append('None')  # Append 'None' if not a valid year
    except:
        Year_Built.append('None')

    # Landmarks
    try:
        Landma = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[3]/div/div/span[2]/a[1]')
        Landmarks.append(Landma.text)
    except:
        Landmarks.append('None')

    # Balcony
    try:
        Balc = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[5]/div[2]/span/h4')
        if Balc.text.strip().upper() == 'NA':
            Balcony.append('None')
        else:
            Balcony.append(Balc.text.strip())
    except:
        Balcony.append('None')

    # Address
    try:
        Addr = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[2]/div[1]/h5')
        Address.append(Addr.text)
    except:
        Address.append('None')

    # City
    try:
        Cit = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        city_text = Cit.text.split(',')[0]  # Split the text by comma and get the first part
        City.append(city_text)
    except:
        City.append('Bengaluru')  # Default city assumed as 'Bengaluru'

    # State_code
    try:
        State_cod = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        State_code_ = State_cod.text.split(',')[1].strip()  # Split the text by comma and get the second part
        State_code.append(State_code_)
    except:
        State_code.append('KA')  # Default state code assumed as 'KA'

    # Country
    try:
        Addr = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        Country.append(Addr.text)
    except:
        Country.append('India')  # Default country assumed as 'India'

    # Floor
    try:
        fl = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[9]/div[3]/h5')
        if '/' in fl.text:
            floor.append(fl.text)
        else:
            floor.append('None')
    except:
        floor.append('None')

    # Transaction type
    try:
        trans = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        transaction_type.append(trans.text)
    except:
        transaction_type.append('None')

    # Furnished status
    try:
        furnish = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[7]/div[3]/h5')
        if 'Fully Furnished' in furnish.text or 'Semi' in furnish.text:
            furnished_status.append(furnish.text)
        else:
            furnished_status.append('None')
    except:
        furnished_status.append('None')

    # Facing
    try:
        fac = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[8]/div[3]/h5')
        fac_text = fac.text.lower()  # Convert text to lowercase for case insensitivity
    
        if 'north-east' in fac_text or 'northeast' in fac_text:
            facing.append('northeast')
        elif 'south-east' in fac_text or 'southeast' in fac_text:
            facing.append('southeast')
        elif 'south-west' in fac_text or 'southwest' in fac_text:
            facing.append('southwest')
        elif 'north-west' in fac_text or 'northwest' in fac_text:
            facing.append('northwest')
        elif 'north' in fac_text:
            facing.append('North')
        elif 'east' in fac_text:
            facing.append('East')
        elif 'south' in fac_text:
            facing.append('South')
        elif 'west' in fac_text:
            facing.append('West')
        else:
            facing.append('None')
    except:
        facing.append('None')

    # Car Parking
    try:
        Car_Par = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[7]/div[2]/span/h4')
        Car_Parking.append(Car_Par.text)
    except:
        Car_Parking.append('None')

    # Type of ownership
    try:
        Type_of_owners = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[2]/div[3]/h5')
        Type_of_ownership.append(Type_of_owners.text)
    except:
        Type_of_ownership.append('None')

    # Booking amount
    try:
        booking = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        booking_amount.append(booking.text)
    except:
        booking_amount.append('None')

    
    # Buy total price
    CRORE_TO_THOUSAND = 10000000
    LAC_TO_THOUSAND = 100000

    def convert_price_to_thousands(price_text):
        if 'Crores' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Crores', '').strip())
            price_in_thousands = price_value * CRORE_TO_THOUSAND
        elif 'Lacs' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Lacs', '').strip())
            price_in_thousands = price_value * LAC_TO_THOUSAND
        else:
            price_in_thousands = float(price_text.replace('₹', '').strip())
        return price_in_thousands

    try:
        buy_t = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[3]/div[1]/div/div[1]/span')
        price_text = buy_t.text
        price_in_thousands = convert_price_to_thousands(price_text)
        buy_total_price.append(f'{round(price_in_thousands)}') 
    except:
        buy_total_price.append('None')
    
# Quit WebDriver
driver.quit()

In [14]:
df3=pd.DataFrame({
    "BHK_type": BHK_type,
    "Beds": beds,
    "Bathroom": bathroom,
    "Carpet_area": carpetarea,
    "Price_per_square_feet": price_per_square_feet,
    "Property_Type": Property_Type,
    "Status": status,
    "Year_Built": Year_Built,
    "Landmarks": Landmarks,
    "Balcony": Balcony,
    "Address": Address,
    "City": City,
    "State_Code": State_code,
    "Country": Country,
    "Floor": floor,
    "Transaction_Type": transaction_type,
    "Furnished_Status": furnished_status,
    "Facing": facing,
    "Car_Parking": Car_Parking,
    "Type_of_Ownership": Type_of_ownership,
    "Booking_Amount": booking_amount,
    "Buy_Total_Price": buy_total_price
})

In [11]:
df3

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,4,4,3,600.0,NaN,Independent House,"Jun 26, 2024",NaN,Safina Business Park,2.0,...,KA,India,0/2,NaN,NaN,East,Bike,Self Owned,NaN,4000000.0
1,4,4,3,1500.0,NaN,Thrimula,Immediately,NaN,Safina Business Park,2.0,...,KA,India,3/4,NaN,Fully Furnished,South,Bike,Self Owned,NaN,16000000.0
2,4,4,5,NaN,NaN,Independent House,Immediately,NaN,Safina Business Park,1.0,...,KA,India,NaN,NaN,NaN,NaN,NaN,Self Owned,NaN,13500000.0
3,4,4,4,2556.0,NaN,Independent House,Immediately,NaN,Safina Business Park,2.0,...,KA,India,0/2,NaN,Semi,southwest,Bike and Car,Self Owned,NaN,70000000.0
4,4,4,9,2800.0,NaN,Independent House,Immediately,NaN,Safina Business Park,2.0,...,KA,India,0/2,NaN,Semi,North,Bike and Car,Self Owned,NaN,70000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,4,4,3,1410.0,NaN,Independent House,Immediately,NaN,Safina Business Park,NaN,...,KA,India,1/1,NaN,NaN,North,Bike,Self Owned,NaN,21000000.0
346,3,3,3,1800.0,NaN,Royal Manor,Immediately,NaN,Safina Business Park,1.0,...,KA,India,0/3,NaN,Semi,East,Bike and Car,Self Owned,NaN,32000000.0
347,3,3,3,NaN,NaN,Jala Krupa,Immediately,NaN,Safina Business Park,2.0,...,KA,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,25000000.0
348,4,4,9,NaN,NaN,Independent House,Immediately,NaN,Safina Business Park,NaN,...,KA,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,14400000.0
349,2,2,1,NaN,NaN,Independent House,Immediately,NaN,D Mart,1.0,...,KA,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,20000000.0

In [ ]:
df3.to_csv('Bengaluru.csv', index=False)

In [10]:
df3=pd.read_csv(r'Bengaluru.csv')

In [11]:
df = pd.concat([df, df3])

In [12]:
df = df.reset_index(drop=True)

In [13]:
df

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,3,3,2.0,"1,500",346,Condo,Active,2004.0,CHI - Logan Square,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43139280.0
1,4,4,3.0,NaN,NaN,Condo,Active,2015.0,CHI - Avondale,NaN,...,IL 60618,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49863688.0
2,2,2,2.0,"1,300",296,Condo,Active,1988.0,CHI - Lincoln Park,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32001200.0
3,4,4,4.0,"4,000",350,Condo,NaN,NaN,Cook,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116284880.0
4,3,3,2.5,NaN,NaN,Condo,NaN,NaN,Cook,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52781200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,4,4,3.0,1410.0,NaN,Independent House,Immediately,NaN,Safina Business Park,NaN,...,KA,India,1/1,NaN,NaN,North,Bike,Self Owned,NaN,21000000.0
568,3,3,3.0,1800.0,NaN,Royal Manor,Immediately,NaN,Safina Business Park,1.0,...,KA,India,0/3,NaN,Semi,East,Bike and Car,Self Owned,NaN,32000000.0
569,3,3,3.0,NaN,NaN,Jala Krupa,Immediately,NaN,Safina Business Park,2.0,...,KA,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,25000000.0
570,4,4,9.0,NaN,NaN,Independent House,Immediately,NaN,Safina Business Park,NaN,...,KA,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,14400000.0
571,2,2,1.0,NaN,NaN,Independent House,Immediately,NaN,D Mart,1.0,...,KA,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,20000000.0

----

---

# Pune

In [1]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

In [2]:
# empty lists
Sno = []
BHK_type = []
Property_Type = []
beds = []
bathroom = []
Balcony = []
Address = []
City = []
State_code = []
Country = []
Landmarks = []
carpetarea = []
status = []
floor = []
transaction_type = []
Year_Built = []
price_per_square_feet = []
furnished_status = []
facing = []
Car_Parking = []
Type_of_ownership = []
booking_amount = []
buy_total_price = []

# chrome browser to webdriver
driver=webdriver.Chrome()

In [3]:
# Load website
driver.get("https://www.nobroker.in/")

In [4]:
#maximizing the window
driver.maximize_window()

In [ ]:
# Find search box 
search_box = driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[1]/div[4]/button")
search_box.click()

In [5]:
propertiess=[]

In [6]:
for p in driver.find_elements(By.XPATH,'//h2[@class="heading-6 flex items-center font-semi-bold m-0"]/a'):
    propertiess.append(p.get_attribute('href'))

In [7]:
len(propertiess)

200

In [8]:
for i in propertiess:  # Iterating each and every URL to fetch full details
    driver.get(i)  # Taking each URL one by one as an input
    sleep(1)

    # BHK_type 
    try:
        beds_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[1]/div[2]/span/h4')
        bed_text = beds_.text.replace('Bedroom', '').strip()
        BHK_type.append(bed_text)
    except:
        BHK_type.append('None')

    # Bathroom
    try:
        bath = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[3]/div[2]/span/h4')
        bath_text = bath.text.replace('Bathroom', '').strip()
        bathroom.append(bath_text)
    except:
        bathroom.append('None')

    # Carpet area
    try:
        cart_area = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[6]/div[3]/h5')
        if 'Sq.Ft' in cart_area.text:
            carpet_area = cart_area.text.replace(' Sq.Ft', '').replace(',', '')  # Remove ' Sq.Ft' and commas
            carpetarea.append(carpet_area)
        else:
            carpetarea.append('None')
    except:
        carpetarea.append('None')

    # Price per square feet
    try:
        PRSF = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[5]/div[1]')
        price_per_square_feet.append(PRSF.text)
    except:
        price_per_square_feet.append('None')

    # Property_Type
    try:
        Pro_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[6]/div[2]/span/h4')
        Property_Type.append(Pro_.text)
    except:
        Property_Type.append('None')

    # Status
    try:
        sta = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[4]/div[2]/span/h4')
        status.append(sta.text)
    except:
        status.append('None')

    # Year Built
    try:
        Year = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[10]/div[2]')
        year_text = Year.text.strip()
        
        if year_text.isdigit() and len(year_text) == 4:
            Year_Built.append(int(year_text))
        else:
            Year_Built.append('None')  # Append 'None' if not a valid year
    except:
        Year_Built.append('None')

    # Landmarks
    try:
        Landma = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[3]/div/div/span[2]/a[1]')
        Landmarks.append(Landma.text)
    except:
        Landmarks.append('None')

    # Balcony
    try:
        Balc = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[5]/div[2]/span/h4')
        if Balc.text.strip().upper() == 'NA':
            Balcony.append('None')
        else:
            Balcony.append(Balc.text.strip())
    except:
        Balcony.append('None')

    # Address
    try:
        Addr = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[2]/div[1]/h5')
        Address.append(Addr.text)
    except:
        Address.append('None')

    # City
    try:
        Cit = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        city_text = Cit.text.split(',')[0]  # Split the text by comma and get the first part
        City.append(city_text)
    except:
        City.append('Pune')  # Default city assumed as 'Bengaluru'

    # State_code
    try:
        State_cod = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        State_code_ = State_cod.text.split(',')[1].strip()  # Split the text by comma and get the second part
        State_code.append(State_code_)
    except:
        State_code.append('MH')  # Default state code assumed as 'KA'

    # Country
    try:
        Addr = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        Country.append(Addr.text)
    except:
        Country.append('India')  # Default country assumed as 'India'

    # Floor
    try:
        fl = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[9]/div[3]/h5')
        if '/' in fl.text:
            floor.append(fl.text)
        else:
            floor.append('None')
    except:
        floor.append('None')

    # Transaction type
    try:
        trans = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        transaction_type.append(trans.text)
    except:
        transaction_type.append('None')

    # Furnished status
    try:
        furnish = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[7]/div[3]/h5')
        if 'Fully Furnished' in furnish.text or 'Semi' in furnish.text:
            furnished_status.append(furnish.text)
        else:
            furnished_status.append('None')
    except:
        furnished_status.append('None')

    # Facing
    try:
        fac = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[8]/div[3]/h5')
        fac_text = fac.text.lower()  # Convert text to lowercase for case insensitivity
    
        if 'north-east' in fac_text or 'northeast' in fac_text:
            facing.append('northeast')
        elif 'south-east' in fac_text or 'southeast' in fac_text:
            facing.append('southeast')
        elif 'south-west' in fac_text or 'southwest' in fac_text:
            facing.append('southwest')
        elif 'north-west' in fac_text or 'northwest' in fac_text:
            facing.append('northwest')
        elif 'north' in fac_text:
            facing.append('North')
        elif 'east' in fac_text:
            facing.append('East')
        elif 'south' in fac_text:
            facing.append('South')
        elif 'west' in fac_text:
            facing.append('West')
        else:
            facing.append('None')
    except:
        facing.append('None')

    # Car Parking
    try:
        Car_Par = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[7]/div[2]/span/h4')
        Car_Parking.append(Car_Par.text)
    except:
        Car_Parking.append('None')

    # Type of ownership
    try:
        Type_of_owners = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[2]/div[3]/h5')
        Type_of_ownership.append(Type_of_owners.text)
    except:
        Type_of_ownership.append('None')

    # Booking amount
    try:
        booking = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        booking_amount.append(booking.text)
    except:
        booking_amount.append('None')

    
    # Buy total price
    CRORE_TO_THOUSAND = 10000000
    LAC_TO_THOUSAND = 100000

    def convert_price_to_thousands(price_text):
        if 'Crores' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Crores', '').strip())
            price_in_thousands = price_value * CRORE_TO_THOUSAND
        elif 'Lacs' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Lacs', '').strip())
            price_in_thousands = price_value * LAC_TO_THOUSAND
        else:
            price_in_thousands = float(price_text.replace('₹', '').strip())
        return price_in_thousands

    try:
        buy_t = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[3]/div[1]/div/div[1]/span')
        price_text = buy_t.text
        price_in_thousands = convert_price_to_thousands(price_text)
        buy_total_price.append(f'{round(price_in_thousands)}') 
    except:
        buy_total_price.append('None')
    
# Quit WebDriver
driver.quit()

In [9]:
df4=pd.DataFrame({
    "BHK_type": BHK_type,
    "Beds": BHK_type,
    "Bathroom": bathroom,
    "Carpet_area": carpetarea,
    "Price_per_square_feet": price_per_square_feet,
    "Property_Type": Property_Type,
    "Status": status,
    "Year_Built": Year_Built,
    "Landmarks": Landmarks,
    "Balcony": Balcony,
    "Address": Address,
    "City": City,
    "State_Code": State_code,
    "Country": Country,
    "Floor": floor,
    "Transaction_Type": transaction_type,
    "Furnished_Status": furnished_status,
    "Facing": facing,
    "Car_Parking": Car_Parking,
    "Type_of_Ownership": Type_of_ownership,
    "Booking_Amount": booking_amount,
    "Buy_Total_Price": buy_total_price
})

In [16]:
df4

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,2,2,2,900.0,NaN,Kohinoor Estate,"Sep 1, 2024",NaN,Yerwada,NaN,...,MH,India,2/7,NaN,Fully Furnished,NaN,Bike and Car,Self Owned,NaN,20000000.0
1,1,1,1,333.0,NaN,Raj Hira Residency,Immediately,NaN,City Pride Mangala Multiplex,NaN,...,MH,India,0/6,NaN,Semi,South,Bike,Self Owned,NaN,4700000.0
2,3,3,3,1650.0,NaN,Yashodhan Apartment,Immediately,NaN,Central Mall,NaN,...,MH,India,0/3,NaN,Fully Furnished,East,Car,Self Owned,NaN,22000000.0
3,4,4,4,2018.0,NaN,Celine,"Jun 22, 2024",NaN,Central Mall,1.0,...,MH,India,4/6,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,39500000.0
4,3,3,3,1185.0,NaN,Saarrthi Signature ...,Immediately,NaN,E Square Carnival,3.0,...,MH,India,5/10,NaN,NaN,West,Car,Self Owned,NaN,24000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1,1,1,NaN,NaN,Khargaon Apartment ...,Immediately,NaN,Central Mall,NaN,...,MH,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,2200000.0
196,3,3,3,NaN,NaN,NaN,Immediately,NaN,City Pride Mangala Multiplex,2.0,...,MH,India,2/2,NaN,Fully Furnished,West,Bike and Car,Self Owned,NaN,16500000.0
197,1,1,1,NaN,NaN,Raje Building,Immediately,NaN,E Square Carnival,NaN,...,MH,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,1600000.0
198,2,2,2,NaN,NaN,Samruddhi Apartment,Immediately,NaN,E Square Carnival,NaN,...,MH,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,5000000.0
199,1,1,1,NaN,NaN,Samruddhi Apartment,Immediately,NaN,E Square Carnival,NaN,...,MH,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,4000000.0

In [11]:
df4.to_csv('Pune.csv', index=False)

In [14]:
df4=pd.read_csv(r'Pune.csv')

In [15]:
df = pd.concat([df, df4])

In [16]:
df = df.reset_index(drop=True)

In [17]:
df

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,3,3,2.0,"1,500",346,Condo,Active,2004.0,CHI - Logan Square,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43139280.0
1,4,4,3.0,NaN,NaN,Condo,Active,2015.0,CHI - Avondale,NaN,...,IL 60618,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49863688.0
2,2,2,2.0,"1,300",296,Condo,Active,1988.0,CHI - Lincoln Park,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32001200.0
3,4,4,4.0,"4,000",350,Condo,NaN,NaN,Cook,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116284880.0
4,3,3,2.5,NaN,NaN,Condo,NaN,NaN,Cook,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52781200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,1,1,1.0,NaN,NaN,Khargaon Apartment ...,Immediately,NaN,Central Mall,NaN,...,MH,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,2200000.0
768,3,3,3.0,NaN,NaN,NaN,Immediately,NaN,City Pride Mangala Multiplex,2.0,...,MH,India,2/2,NaN,Fully Furnished,West,Bike and Car,Self Owned,NaN,16500000.0
769,1,1,1.0,NaN,NaN,Raje Building,Immediately,NaN,E Square Carnival,NaN,...,MH,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,1600000.0
770,2,2,2.0,NaN,NaN,Samruddhi Apartment,Immediately,NaN,E Square Carnival,NaN,...,MH,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,5000000.0
771,1,1,1.0,NaN,NaN,Samruddhi Apartment,Immediately,NaN,E Square Carnival,NaN,...,MH,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,4000000.0

-----

-----

# Mumbai

In [1]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

In [2]:
# empty lists
Sno = []
BHK_type = []
Property_Type = []
beds = []
bathroom = []
Balcony = []
Address = []
City = []
State_code = []
Country = []
Landmarks = []
carpetarea = []
status = []
floor = []
transaction_type = []
Year_Built = []
price_per_square_feet = []
furnished_status = []
facing = []
Car_Parking = []
Type_of_ownership = []
booking_amount = []
buy_total_price = []

# chrome browser to webdriver
driver=webdriver.Chrome()

In [3]:
# Load website
driver.get("https://www.nobroker.in/")

In [4]:
#maximizing the window
driver.maximize_window()

In [ ]:
# Find search box 
search_box = driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[1]/div[4]/button")
search_box.click()

In [5]:
propertiess=[]

In [6]:
for p in driver.find_elements(By.XPATH,'//h2[@class="heading-6 flex items-center font-semi-bold m-0"]/a'):
    propertiess.append(p.get_attribute('href'))

In [7]:
len(propertiess)

428

In [8]:
for i in propertiess:  # Iterating each and every URL to fetch full details
    driver.get(i)  # Taking each URL one by one as an input
    sleep(1)

    # BHK_type 
    try:
        beds_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[1]/div[2]/span/h4')
        bed_text = beds_.text.replace('Bedroom', '').strip()
        BHK_type.append(bed_text)
    except:
        BHK_type.append('None')

    # Bathroom
    try:
        bath = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[3]/div[2]/span/h4')
        bath_text = bath.text.replace('Bathroom', '').strip()
        bathroom.append(bath_text)
    except:
        bathroom.append('None')

    # Carpet area
    try:
        cart_area = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[6]/div[3]/h5')
        if 'Sq.Ft' in cart_area.text:
            carpet_area = cart_area.text.replace(' Sq.Ft', '').replace(',', '')  # Remove ' Sq.Ft' and commas
            carpetarea.append(carpet_area)
        else:
            carpetarea.append('None')
    except:
        carpetarea.append('None')

    # Price per square feet
    try:
        PRSF = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[5]/div[1]')
        price_per_square_feet.append(PRSF.text)
    except:
        price_per_square_feet.append('None')

    # Property_Type
    try:
        Pro_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[6]/div[2]/span/h4')
        Property_Type.append(Pro_.text)
    except:
        Property_Type.append('None')

    # Status
    try:
        sta = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[4]/div[2]/span/h4')
        status.append(sta.text)
    except:
        status.append('None')

    # Year Built
    try:
        Year = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[10]/div[2]')
        year_text = Year.text.strip()
        
        if year_text.isdigit() and len(year_text) == 4:
            Year_Built.append(int(year_text))
        else:
            Year_Built.append('None')  # Append 'None' if not a valid year
    except:
        Year_Built.append('None')

    # Landmarks
    try:
        Landma = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[3]/div/div/span[2]/a[1]')
        Landmarks.append(Landma.text)
    except:
        Landmarks.append('None')

    # Balcony
    try:
        Balc = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[5]/div[2]/span/h4')
        if Balc.text.strip().upper() == 'NA':
            Balcony.append('None')
        else:
            Balcony.append(Balc.text.strip())
    except:
        Balcony.append('None')

    # Address
    try:
        Addr = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[2]/div[1]/h5')
        Address.append(Addr.text)
    except:
        Address.append('None')

    # City
    try:
        Cit = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        city_text = Cit.text.split(',')[0]  # Split the text by comma and get the first part
        City.append(city_text)
    except:
        City.append('Mumbai')  # Default city assumed as 'Bengaluru'

    # State_code
    try:
        State_cod = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        State_code_ = State_cod.text.split(',')[1].strip()  # Split the text by comma and get the second part
        State_code.append(State_code_)
    except:
        State_code.append('MH')  # Default state code assumed as 'KA'

    # Country
    try:
        Addr = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        Country.append(Addr.text)
    except:
        Country.append('India')  # Default country assumed as 'India'

    # Floor
    try:
        fl = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[9]/div[3]/h5')
        if '/' in fl.text:
            floor.append(fl.text)
        else:
            floor.append('None')
    except:
        floor.append('None')

    # Transaction type
    try:
        trans = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        transaction_type.append(trans.text)
    except:
        transaction_type.append('None')

    # Furnished status
    try:
        furnish = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[7]/div[3]/h5')
        if 'Fully Furnished' in furnish.text or 'Semi' in furnish.text:
            furnished_status.append(furnish.text)
        else:
            furnished_status.append('None')
    except:
        furnished_status.append('None')

    # Facing
    try:
        fac = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[8]/div[3]/h5')
        fac_text = fac.text.lower()  # Convert text to lowercase for case insensitivity
    
        if 'north-east' in fac_text or 'northeast' in fac_text:
            facing.append('northeast')
        elif 'south-east' in fac_text or 'southeast' in fac_text:
            facing.append('southeast')
        elif 'south-west' in fac_text or 'southwest' in fac_text:
            facing.append('southwest')
        elif 'north-west' in fac_text or 'northwest' in fac_text:
            facing.append('northwest')
        elif 'north' in fac_text:
            facing.append('North')
        elif 'east' in fac_text:
            facing.append('East')
        elif 'south' in fac_text:
            facing.append('South')
        elif 'west' in fac_text:
            facing.append('West')
        else:
            facing.append('None')
    except:
        facing.append('None')

    # Car Parking
    try:
        Car_Par = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[7]/div[2]/span/h4')
        Car_Parking.append(Car_Par.text)
    except:
        Car_Parking.append('None')

    # Type of ownership
    try:
        Type_of_owners = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[2]/div[3]/h5')
        Type_of_ownership.append(Type_of_owners.text)
    except:
        Type_of_ownership.append('None')

    # Booking amount
    try:
        booking = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        booking_amount.append(booking.text)
    except:
        booking_amount.append('None')

    
    # Buy total price
    CRORE_TO_THOUSAND = 10000000
    LAC_TO_THOUSAND = 100000

    def convert_price_to_thousands(price_text):
        if 'Crores' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Crores', '').strip())
            price_in_thousands = price_value * CRORE_TO_THOUSAND
        elif 'Lacs' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Lacs', '').strip())
            price_in_thousands = price_value * LAC_TO_THOUSAND
        else:
            price_in_thousands = float(price_text.replace('₹', '').strip())
        return price_in_thousands

    try:
        buy_t = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[3]/div[1]/div/div[1]/span')
        price_text = buy_t.text
        price_in_thousands = convert_price_to_thousands(price_text)
        buy_total_price.append(f'{round(price_in_thousands)}') 
    except:
        buy_total_price.append('None')
    
# Quit WebDriver
driver.quit()

In [9]:
df5=pd.DataFrame({
    "BHK_type": BHK_type,
    "Beds": BHK_type,
    "Bathroom": bathroom,
    "Carpet_area": carpetarea,
    "Price_per_square_feet": price_per_square_feet,
    "Property_Type": Property_Type,
    "Status": status,
    "Year_Built": Year_Built,
    "Landmarks": Landmarks,
    "Balcony": Balcony,
    "Address": Address,
    "City": City,
    "State_Code": State_code,
    "Country": Country,
    "Floor": floor,
    "Transaction_Type": transaction_type,
    "Furnished_Status": furnished_status,
    "Facing": facing,
    "Car_Parking": Car_Parking,
    "Type_of_Ownership": Type_of_ownership,
    "Booking_Amount": booking_amount,
    "Buy_Total_Price": buy_total_price
})

In [24]:
df5

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,2,2,2,850.0,NaN,"Sea Lord, Cuffe Par...",Immediately,NaN,Pizza By The Bay,NaN,...,MH,India,4/16,NaN,Semi,southwest,Bike and Car,Self Owned,NaN,57500000.0
1,1,1,1,NaN,NaN,Standalone Building,Immediately,NaN,Charni Road,NaN,...,MH,India,NaN,NaN,NaN,NaN,NaN,Self Owned,NaN,6600000.0
2,3,3,2,NaN,NaN,"Shreepati Aradhana,...",Immediately,NaN,Metro INOX Cinema,NaN,...,MH,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,40000000.0
3,3,3,2,650.0,NaN,Shiv Darshan Chs,Immediately,NaN,Metro INOX Cinema,NaN,...,MH,India,4/7,NaN,Fully Furnished,NaN,Bike,Self Owned,NaN,27000000.0
4,2,2,2,NaN,NaN,Daial Mahal,Immediately,NaN,Bademiya,NaN,...,MH,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,40000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,1,1,1,NaN,NaN,Standalone Building,Immediately,NaN,Sardar Pav Bhaji,NaN,...,MH,India,NaN,NaN,NaN,NaN,NaN,Self Owned,NaN,12500000.0
424,1,1,1,NaN,NaN,Undisclosed Apartme...,Immediately,NaN,Sardar Pav Bhaji,1.0,...,MH,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,6000000.0
425,2,2,3,NaN,NaN,Amtulla Apartment,Immediately,NaN,Sardar Pav Bhaji,2.0,...,MH,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,30000000.0
426,1,1,1,275.0,NaN,Sarswati Sadan,Immediately,NaN,Metro INOX Cinema,1.0,...,MH,India,2/5,NaN,Semi,East,Car,Self Owned,NaN,7000000.0
427,1,1,2,NaN,NaN,Evershine Millinium...,Immediately,NaN,Afzal Restaurant,1.0,...,MH,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,NaN

In [13]:
df5.to_csv('Mumbai.csv', index=False)

In [18]:
df5=pd.read_csv(r'Mumbai.csv')

In [19]:
df= pd.concat([df, df5])

In [20]:
df = df.reset_index(drop=True)

In [21]:
df

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,3,3,2.0,"1,500",346,Condo,Active,2004.0,CHI - Logan Square,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43139280.0
1,4,4,3.0,NaN,NaN,Condo,Active,2015.0,CHI - Avondale,NaN,...,IL 60618,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49863688.0
2,2,2,2.0,"1,300",296,Condo,Active,1988.0,CHI - Lincoln Park,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32001200.0
3,4,4,4.0,"4,000",350,Condo,NaN,NaN,Cook,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116284880.0
4,3,3,2.5,NaN,NaN,Condo,NaN,NaN,Cook,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52781200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1,1,1.0,NaN,NaN,Standalone Building,Immediately,NaN,Sardar Pav Bhaji,NaN,...,MH,India,NaN,NaN,NaN,NaN,NaN,Self Owned,NaN,12500000.0
1196,1,1,1.0,NaN,NaN,Undisclosed Apartme...,Immediately,NaN,Sardar Pav Bhaji,1.0,...,MH,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,6000000.0
1197,2,2,3.0,NaN,NaN,Amtulla Apartment,Immediately,NaN,Sardar Pav Bhaji,2.0,...,MH,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,30000000.0
1198,1,1,1.0,275.0,NaN,Sarswati Sadan,Immediately,NaN,Metro INOX Cinema,1.0,...,MH,India,2/5,NaN,Semi,East,Car,Self Owned,NaN,7000000.0
1199,1,1,2.0,NaN,NaN,Evershine Millinium...,Immediately,NaN,Afzal Restaurant,1.0,...,MH,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,NaN

-----

-------

# Chennai

In [1]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

In [2]:
# empty lists
Sno = []
BHK_type = []
Property_Type = []
beds = []
bathroom = []
Balcony = []
Address = []
City = []
State_code = []
Country = []
Landmarks = []
carpetarea = []
status = []
floor = []
transaction_type = []
Year_Built = []
price_per_square_feet = []
furnished_status = []
facing = []
Car_Parking = []
Type_of_ownership = []
booking_amount = []
buy_total_price = []

# chrome browser to webdriver
driver=webdriver.Chrome()

In [3]:
# Load website
driver.get("https://www.nobroker.in/")

In [4]:
#maximizing the window
driver.maximize_window()

In [ ]:
# Find search box 
search_box = driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[1]/div[4]/button")
search_box.click()

In [5]:
propertiess=[]

In [6]:
for p in driver.find_elements(By.XPATH,'//h2[@class="heading-6 flex items-center font-semi-bold m-0"]/a'):
    propertiess.append(p.get_attribute('href'))

In [7]:
len(propertiess)

256

In [8]:
for i in propertiess:  # Iterating each and every URL to fetch full details
    driver.get(i)  # Taking each URL one by one as an input
    sleep(1)

    # BHK_type 
    try:
        beds_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[1]/div[2]/span/h4')
        bed_text = beds_.text.replace('Bedroom', '').strip()
        BHK_type.append(bed_text)
    except:
        BHK_type.append('None')

    # Bathroom
    try:
        bath = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[3]/div[2]/span/h4')
        bath_text = bath.text.replace('Bathroom', '').strip()
        bathroom.append(bath_text)
    except:
        bathroom.append('None')

    # Carpet area
    try:
        cart_area = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[6]/div[3]/h5')
        if 'Sq.Ft' in cart_area.text:
            carpet_area = cart_area.text.replace(' Sq.Ft', '').replace(',', '')  # Remove ' Sq.Ft' and commas
            carpetarea.append(carpet_area)
        else:
            carpetarea.append('None')
    except:
        carpetarea.append('None')

    # Price per square feet
    try:
        PRSF = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[5]/div[1]')
        price_per_square_feet.append(PRSF.text)
    except:
        price_per_square_feet.append('None')

    # Property_Type
    try:
        Pro_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[6]/div[2]/span/h4')
        Property_Type.append(Pro_.text)
    except:
        Property_Type.append('None')

    # Status
    try:
        sta = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[4]/div[2]/span/h4')
        status.append(sta.text)
    except:
        status.append('None')

    # Year Built
    try:
        Year = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[10]/div[2]')
        year_text = Year.text.strip()
        
        if year_text.isdigit() and len(year_text) == 4:
            Year_Built.append(int(year_text))
        else:
            Year_Built.append('None')  # Append 'None' if not a valid year
    except:
        Year_Built.append('None')

    # Landmarks
    try:
        Landma = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[3]/div/div/span[2]/a[1]')
        Landmarks.append(Landma.text)
    except:
        Landmarks.append('None')

    # Balcony
    try:
        Balc = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[5]/div[2]/span/h4')
        if Balc.text.strip().upper() == 'NA':
            Balcony.append('None')
        else:
            Balcony.append(Balc.text.strip())
    except:
        Balcony.append('None')

    # Address
    try:
        Addr = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[2]/div[1]/h5')
        Address.append(Addr.text)
    except:
        Address.append('None')

    # City
    try:
        Cit = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        city_text = Cit.text.split(',')[0]  # Split the text by comma and get the first part
        City.append(city_text)
    except:
        City.append('Chennai')  # Default city assumed as 'Bengaluru'

    # State_code
    try:
        State_cod = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        State_code_ = State_cod.text.split(',')[1].strip()  # Split the text by comma and get the second part
        State_code.append(State_code_)
    except:
        State_code.append('TN')  # Default state code assumed as 'KA'

    # Country
    try:
        Addr = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        Country.append(Addr.text)
    except:
        Country.append('India')  # Default country assumed as 'India'

    # Floor
    try:
        fl = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[9]/div[3]/h5')
        if '/' in fl.text:
            floor.append(fl.text)
        else:
            floor.append('None')
    except:
        floor.append('None')

    # Transaction type
    try:
        trans = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        transaction_type.append(trans.text)
    except:
        transaction_type.append('None')

    # Furnished status
    try:
        furnish = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[7]/div[3]/h5')
        if 'Fully Furnished' in furnish.text or 'Semi' in furnish.text:
            furnished_status.append(furnish.text)
        else:
            furnished_status.append('None')
    except:
        furnished_status.append('None')

    # Facing
    try:
        fac = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[8]/div[3]/h5')
        fac_text = fac.text.lower()  # Convert text to lowercase for case insensitivity
    
        if 'north-east' in fac_text or 'northeast' in fac_text:
            facing.append('northeast')
        elif 'south-east' in fac_text or 'southeast' in fac_text:
            facing.append('southeast')
        elif 'south-west' in fac_text or 'southwest' in fac_text:
            facing.append('southwest')
        elif 'north-west' in fac_text or 'northwest' in fac_text:
            facing.append('northwest')
        elif 'north' in fac_text:
            facing.append('North')
        elif 'east' in fac_text:
            facing.append('East')
        elif 'south' in fac_text:
            facing.append('South')
        elif 'west' in fac_text:
            facing.append('West')
        else:
            facing.append('None')
    except:
        facing.append('None')

    # Car Parking
    try:
        Car_Par = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[7]/div[2]/span/h4')
        Car_Parking.append(Car_Par.text)
    except:
        Car_Parking.append('None')

    # Type of ownership
    try:
        Type_of_owners = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[2]/div[3]/h5')
        Type_of_ownership.append(Type_of_owners.text)
    except:
        Type_of_ownership.append('None')

    # Booking amount
    try:
        booking = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        booking_amount.append(booking.text)
    except:
        booking_amount.append('None')

    
    # Buy total price
    CRORE_TO_THOUSAND = 10000000
    LAC_TO_THOUSAND = 100000

    def convert_price_to_thousands(price_text):
        if 'Crores' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Crores', '').strip())
            price_in_thousands = price_value * CRORE_TO_THOUSAND
        elif 'Lacs' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Lacs', '').strip())
            price_in_thousands = price_value * LAC_TO_THOUSAND
        else:
            price_in_thousands = float(price_text.replace('₹', '').strip())
        return price_in_thousands

    try:
        buy_t = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[3]/div[1]/div/div[1]/span')
        price_text = buy_t.text
        price_in_thousands = convert_price_to_thousands(price_text)
        buy_total_price.append(f'{round(price_in_thousands)}') 
    except:
        buy_total_price.append('None')
    
# Quit WebDriver
driver.quit()

In [9]:
df6=pd.DataFrame({
    "BHK_type": BHK_type,
    "Beds": BHK_type,
    "Bathroom": bathroom,
    "Carpet_area": carpetarea,
    "Price_per_square_feet": price_per_square_feet,
    "Property_Type": Property_Type,
    "Status": status,
    "Year_Built": Year_Built,
    "Landmarks": Landmarks,
    "Balcony": Balcony,
    "Address": Address,
    "City": City,
    "State_Code": State_code,
    "Country": Country,
    "Floor": floor,
    "Transaction_Type": transaction_type,
    "Furnished_Status": furnished_status,
    "Facing": facing,
    "Car_Parking": Car_Parking,
    "Type_of_Ownership": Type_of_ownership,
    "Booking_Amount": booking_amount,
    "Buy_Total_Price": buy_total_price
})

In [26]:
df6

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,2,2,2,NaN,NaN,Independent House,"Jun 22, 2024",NaN,Hotel Sangamam,NaN,...,TN,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,9600000.0
1,2,2,2,NaN,NaN,Kvr Flats,"Jun 30, 2024",NaN,Kosmo One,1.0,...,TN,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,7500000.0
2,2,2,2,NaN,NaN,Sri Sarweshwaran Ho...,"Jun 28, 2024",NaN,Kosmo One,NaN,...,TN,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,3975000.0
3,3,3,3,992.0,NaN,Bank Auction Proper...,"Jun 26, 2024",NaN,Rakki Cinemas,NaN,...,TN,India,2/4,NaN,Semi,South,Bike and Car,Self Owned,NaN,6000000.0
4,2,2,2,1224.0,NaN,Independent House,"Jul 6, 2024",NaN,Rwd Lemongraz,1.0,...,TN,India,0/0,NaN,NaN,North,Car,Self Owned,NaN,8500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,2,2,1,574.0,NaN,Ssb Castle,Immediately,NaN,Kosmo One,NaN,...,TN,India,1/1,NaN,NaN,North,Bike,Self Owned,NaN,3050000.0
252,4,4,4,NaN,NaN,Independent House,Immediately,NaN,Rakki Cinemas,1.0,...,TN,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,3500000.0
253,2,2,2,786.0,NaN,Hitesh Enclave,Immediately,NaN,Rwd Lemongraz,2.0,...,TN,India,1/2,NaN,Semi,North,Car,Self Owned,NaN,4700000.0
254,2,2,2,700.0,NaN,Nichu Homes,"Jun 29, 2024",NaN,Prince Info Park,2.0,...,TN,India,1/3,NaN,NaN,North,Bike and Car,Self Owned,NaN,5500000.0
255,3,3,3,900.0,NaN,Srm Flats,Immediately,NaN,Rakki Cinemas,2.0,...,TN,India,2/3,NaN,Semi,North,Car,Self Owned,NaN,5860000.0

In [11]:
df6.to_csv('Chennai.csv', index=False)

In [22]:
df6=pd.read_csv(r'Chennai.csv')

In [23]:
df = pd.concat([df, df6])

In [24]:
df = df.reset_index(drop=True)

In [25]:
df

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,3,3,2.0,"1,500",346,Condo,Active,2004.0,CHI - Logan Square,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43139280.0
1,4,4,3.0,NaN,NaN,Condo,Active,2015.0,CHI - Avondale,NaN,...,IL 60618,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49863688.0
2,2,2,2.0,"1,300",296,Condo,Active,1988.0,CHI - Lincoln Park,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32001200.0
3,4,4,4.0,"4,000",350,Condo,NaN,NaN,Cook,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116284880.0
4,3,3,2.5,NaN,NaN,Condo,NaN,NaN,Cook,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52781200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,2,2,1.0,574.0,NaN,Ssb Castle,Immediately,NaN,Kosmo One,NaN,...,TN,India,1/1,NaN,NaN,North,Bike,Self Owned,NaN,3050000.0
1452,4,4,4.0,NaN,NaN,Independent House,Immediately,NaN,Rakki Cinemas,1.0,...,TN,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,3500000.0
1453,2,2,2.0,786.0,NaN,Hitesh Enclave,Immediately,NaN,Rwd Lemongraz,2.0,...,TN,India,1/2,NaN,Semi,North,Car,Self Owned,NaN,4700000.0
1454,2,2,2.0,700.0,NaN,Nichu Homes,"Jun 29, 2024",NaN,Prince Info Park,2.0,...,TN,India,1/3,NaN,NaN,North,Bike and Car,Self Owned,NaN,5500000.0
1455,3,3,3.0,900.0,NaN,Srm Flats,Immediately,NaN,Rakki Cinemas,2.0,...,TN,India,2/3,NaN,Semi,North,Car,Self Owned,NaN,5860000.0

-------

----

# Delhi

In [12]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

In [13]:
# empty lists
Sno = []
BHK_type = []
Property_Type = []
beds = []
bathroom = []
Balcony = []
Address = []
City = []
State_code = []
Country = []
Landmarks = []
carpetarea = []
status = []
floor = []
transaction_type = []
Year_Built = []
price_per_square_feet = []
furnished_status = []
facing = []
Car_Parking = []
Type_of_ownership = []
booking_amount = []
buy_total_price = []

# chrome browser to webdriver
driver=webdriver.Chrome()

In [14]:
# Load website
driver.get("https://www.nobroker.in/")

In [15]:
#maximizing the window
driver.maximize_window()

In [ ]:
# Find search box 
search_box = driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[1]/div[4]/button")
search_box.click()

In [16]:
propertiess=[]

In [17]:
for p in driver.find_elements(By.XPATH,'//h2[@class="heading-6 flex items-center font-semi-bold m-0"]/a'):
    propertiess.append(p.get_attribute('href'))

In [18]:
len(propertiess)

525

In [19]:
for i in propertiess:  # Iterating each and every URL to fetch full details
    driver.get(i)  # Taking each URL one by one as an input
    sleep(1)

    # BHK_type 
    try:
        beds_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[1]/div[2]/span/h4')
        bed_text = beds_.text.replace('Bedroom', '').strip()
        BHK_type.append(bed_text)
    except:
        BHK_type.append('None')

    # Bathroom
    try:
        bath = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[3]/div[2]/span/h4')
        bath_text = bath.text.replace('Bathroom', '').strip()
        bathroom.append(bath_text)
    except:
        bathroom.append('None')

    # Carpet area
    try:
        cart_area = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[6]/div[3]/h5')
        if 'Sq.Ft' in cart_area.text:
            carpet_area = cart_area.text.replace(' Sq.Ft', '').replace(',', '')  # Remove ' Sq.Ft' and commas
            carpetarea.append(carpet_area)
        else:
            carpetarea.append('None')
    except:
        carpetarea.append('None')

    # Price per square feet
    try:
        PRSF = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[5]/div[1]')
        price_per_square_feet.append(PRSF.text)
    except:
        price_per_square_feet.append('None')

    # Property_Type
    try:
        Pro_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[6]/div[2]/span/h4')
        Property_Type.append(Pro_.text)
    except:
        Property_Type.append('None')

    # Status
    try:
        sta = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[4]/div[2]/span/h4')
        status.append(sta.text)
    except:
        status.append('None')

    # Year Built
    try:
        Year = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[10]/div[2]')
        year_text = Year.text.strip()
        
        if year_text.isdigit() and len(year_text) == 4:
            Year_Built.append(int(year_text))
        else:
            Year_Built.append('None')  # Append 'None' if not a valid year
    except:
        Year_Built.append('None')

    # Landmarks
    try:
        Landma = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[3]/div/div/span[2]/a[1]')
        Landmarks.append(Landma.text)
    except:
        Landmarks.append('None')

    # Balcony
    try:
        Balc = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[5]/div[2]/span/h4')
        if Balc.text.strip().upper() == 'NA':
            Balcony.append('None')
        else:
            Balcony.append(Balc.text.strip())
    except:
        Balcony.append('None')

    # Address
    try:
        Addr = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[2]/div[1]/h5')
        Address.append(Addr.text)
    except:
        Address.append('None')

    # City
    try:
        Cit = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        city_text = Cit.text.split(',')[0]  # Split the text by comma and get the first part
        City.append(city_text)
    except:
        City.append('Delhi')  # Default city assumed as 'Bengaluru'

    # State_code
    try:
        State_cod = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        State_code_ = State_cod.text.split(',')[1].strip()  # Split the text by comma and get the second part
        State_code.append(State_code_)
    except:
        State_code.append('DL')  # Default state code assumed as 'KA'

    # Country
    try:
        Addr = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        Country.append(Addr.text)
    except:
        Country.append('India')  # Default country assumed as 'India'

    # Floor
    try:
        fl = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[9]/div[3]/h5')
        if '/' in fl.text:
            floor.append(fl.text)
        else:
            floor.append('None')
    except:
        floor.append('None')

    # Transaction type
    try:
        trans = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        transaction_type.append(trans.text)
    except:
        transaction_type.append('None')

    # Furnished status
    try:
        furnish = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[7]/div[3]/h5')
        if 'Fully Furnished' in furnish.text or 'Semi' in furnish.text:
            furnished_status.append(furnish.text)
        else:
            furnished_status.append('None')
    except:
        furnished_status.append('None')

    # Facing
    try:
        fac = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[8]/div[3]/h5')
        fac_text = fac.text.lower()  # Convert text to lowercase for case insensitivity
    
        if 'north-east' in fac_text or 'northeast' in fac_text:
            facing.append('northeast')
        elif 'south-east' in fac_text or 'southeast' in fac_text:
            facing.append('southeast')
        elif 'south-west' in fac_text or 'southwest' in fac_text:
            facing.append('southwest')
        elif 'north-west' in fac_text or 'northwest' in fac_text:
            facing.append('northwest')
        elif 'north' in fac_text:
            facing.append('North')
        elif 'east' in fac_text:
            facing.append('East')
        elif 'south' in fac_text:
            facing.append('South')
        elif 'west' in fac_text:
            facing.append('West')
        else:
            facing.append('None')
    except:
        facing.append('None')

    # Car Parking
    try:
        Car_Par = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[7]/div[2]/span/h4')
        Car_Parking.append(Car_Par.text)
    except:
        Car_Parking.append('None')

    # Type of ownership
    try:
        Type_of_owners = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[2]/div[3]/h5')
        Type_of_ownership.append(Type_of_owners.text)
    except:
        Type_of_ownership.append('None')

    # Booking amount
    try:
        booking = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        booking_amount.append(booking.text)
    except:
        booking_amount.append('None')

    
    # Buy total price
    CRORE_TO_THOUSAND = 10000000
    LAC_TO_THOUSAND = 100000

    def convert_price_to_thousands(price_text):
        if 'Crores' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Crores', '').strip())
            price_in_thousands = price_value * CRORE_TO_THOUSAND
        elif 'Lacs' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Lacs', '').strip())
            price_in_thousands = price_value * LAC_TO_THOUSAND
        else:
            price_in_thousands = float(price_text.replace('₹', '').strip())
        return price_in_thousands

    try:
        buy_t = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[3]/div[1]/div/div[1]/span')
        price_text = buy_t.text
        price_in_thousands = convert_price_to_thousands(price_text)
        buy_total_price.append(f'{round(price_in_thousands)}') 
    except:
        buy_total_price.append('None')
    
# Quit WebDriver
driver.quit()

In [20]:
df7=pd.DataFrame({
    "BHK_type": BHK_type,
    "Beds": BHK_type,
    "Bathroom": bathroom,
    "Carpet_area": carpetarea,
    "Price_per_square_feet": price_per_square_feet,
    "Property_Type": Property_Type,
    "Status": status,
    "Year_Built": Year_Built,
    "Landmarks": Landmarks,
    "Balcony": Balcony,
    "Address": Address,
    "City": City,
    "State_Code": State_code,
    "Country": Country,
    "Floor": floor,
    "Transaction_Type": transaction_type,
    "Furnished_Status": furnished_status,
    "Facing": facing,
    "Car_Parking": Car_Parking,
    "Type_of_Ownership": Type_of_ownership,
    "Booking_Amount": booking_amount,
    "Buy_Total_Price": buy_total_price
})

In [34]:
df7

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,1,1,1,NaN,NaN,Standalone Building,Immediately,NaN,Vishwavidyalaya,1.0,...,DL,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,1690000.0
1,1,1,1,NaN,NaN,Independent House,Immediately,NaN,Maujpur- Babarpur,NaN,...,DL,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,2500000.0
2,3,3,2,NaN,NaN,Standalone Building,Immediately,NaN,Punjabi Rasoi,NaN,...,DL,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,4800000.0
3,2,2,2,1125.0,NaN,Independent House,Immediately,NaN,Movie Magic Cinema,1.0,...,DL,India,0/0,NaN,NaN,North,NaN,Self Owned,NaN,6000000.0
4,2,2,2,NaN,NaN,Independent House,Immediately,NaN,Maujpur- Babarpur,NaN,...,DL,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,2200000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,2,2,2,NaN,NaN,Standalone Building,Immediately,NaN,Q Cinemas,NaN,...,DL,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,3900000.0
521,2,2,2,NaN,NaN,Independent House,Immediately,NaN,Q Cinemas,1.0,...,DL,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,4900000.0
522,4,4,3,NaN,NaN,Independent House,Immediately,NaN,Q Cinemas,3.0,...,DL,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,19000000.0
523,4,4,3,NaN,NaN,Independent House,Immediately,NaN,Darbar Chicken Fish Fry,NaN,...,DL,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,22000000.0
524,3,3,2,NaN,NaN,Standalone Building,Immediately,NaN,Q Cinemas,NaN,...,DL,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,6500000.0

In [22]:
df7.to_csv('Delhi.csv', index=False)

In [26]:
df7=pd.read_csv(r'Delhi.csv')

In [27]:
df = pd.concat([df, df7])

In [28]:
df = df.reset_index(drop=True)

In [29]:
df

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,3,3,2.0,"1,500",346,Condo,Active,2004.0,CHI - Logan Square,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43139280.0
1,4,4,3.0,NaN,NaN,Condo,Active,2015.0,CHI - Avondale,NaN,...,IL 60618,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49863688.0
2,2,2,2.0,"1,300",296,Condo,Active,1988.0,CHI - Lincoln Park,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32001200.0
3,4,4,4.0,"4,000",350,Condo,NaN,NaN,Cook,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116284880.0
4,3,3,2.5,NaN,NaN,Condo,NaN,NaN,Cook,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52781200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1976,2,2,2.0,NaN,NaN,Standalone Building,Immediately,NaN,Q Cinemas,NaN,...,DL,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,3900000.0
1977,2,2,2.0,NaN,NaN,Independent House,Immediately,NaN,Q Cinemas,1.0,...,DL,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,4900000.0
1978,4,4,3.0,NaN,NaN,Independent House,Immediately,NaN,Q Cinemas,3.0,...,DL,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,19000000.0
1979,4,4,3.0,NaN,NaN,Independent House,Immediately,NaN,Darbar Chicken Fish Fry,NaN,...,DL,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,22000000.0
1980,3,3,2.0,NaN,NaN,Standalone Building,Immediately,NaN,Q Cinemas,NaN,...,DL,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,6500000.0

-----

----

# Gurgaon

In [1]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

In [2]:
# empty lists
Sno = []
BHK_type = []
Property_Type = []
beds = []
bathroom = []
Balcony = []
Address = []
City = []
State_code = []
Country = []
Landmarks = []
carpetarea = []
status = []
floor = []
transaction_type = []
Year_Built = []
price_per_square_feet = []
furnished_status = []
facing = []
Car_Parking = []
Type_of_ownership = []
booking_amount = []
buy_total_price = []

# chrome browser to webdriver
driver=webdriver.Chrome()

In [3]:
# Load website
driver.get("https://www.nobroker.in/")

In [4]:
#maximizing the window
driver.maximize_window()

In [ ]:
# Find search box 
search_box = driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[1]/div[4]/button")
search_box.click()

In [5]:
propertiess=[]

In [6]:
for p in driver.find_elements(By.XPATH,'//h2[@class="heading-6 flex items-center font-semi-bold m-0"]/a'):
    propertiess.append(p.get_attribute('href'))

In [7]:
len(propertiess)

367

In [8]:
for i in propertiess:  # Iterating each and every URL to fetch full details
    driver.get(i)  # Taking each URL one by one as an input
    sleep(1)

    # BHK_type 
    try:
        beds_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[1]/div[2]/span/h4')
        bed_text = beds_.text.replace('Bedroom', '').strip()
        BHK_type.append(bed_text)
    except:
        BHK_type.append('None')

    # Bathroom
    try:
        bath = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[3]/div[2]/span/h4')
        bath_text = bath.text.replace('Bathroom', '').strip()
        bathroom.append(bath_text)
    except:
        bathroom.append('None')

    # Carpet area
    try:
        cart_area = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[6]/div[3]/h5')
        if 'Sq.Ft' in cart_area.text:
            carpet_area = cart_area.text.replace(' Sq.Ft', '').replace(',', '')  # Remove ' Sq.Ft' and commas
            carpetarea.append(carpet_area)
        else:
            carpetarea.append('None')
    except:
        carpetarea.append('None')

    # Price per square feet
    try:
        PRSF = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[5]/div[1]')
        price_per_square_feet.append(PRSF.text)
    except:
        price_per_square_feet.append('None')

    # Property_Type
    try:
        Pro_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[6]/div[2]/span/h4')
        Property_Type.append(Pro_.text)
    except:
        Property_Type.append('None')

    # Status
    try:
        sta = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[4]/div[2]/span/h4')
        status.append(sta.text)
    except:
        status.append('None')

    # Year Built
    try:
        Year = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[10]/div[2]')
        year_text = Year.text.strip()
        
        if year_text.isdigit() and len(year_text) == 4:
            Year_Built.append(int(year_text))
        else:
            Year_Built.append('None')  # Append 'None' if not a valid year
    except:
        Year_Built.append('None')

    # Landmarks
    try:
        Landma = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[3]/div/div/span[2]/a[1]')
        Landmarks.append(Landma.text)
    except:
        Landmarks.append('None')

    # Balcony
    try:
        Balc = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[5]/div[2]/span/h4')
        if Balc.text.strip().upper() == 'NA':
            Balcony.append('None')
        else:
            Balcony.append(Balc.text.strip())
    except:
        Balcony.append('None')

    # Address
    try:
        Addr = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[2]/div[1]/h5')
        Address.append(Addr.text)
    except:
        Address.append('None')

    # City
    try:
        Cit = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        city_text = Cit.text.split(',')[0]  # Split the text by comma and get the first part
        City.append(city_text)
    except:
        City.append('Gurgaon')  # Default city assumed as 'Bengaluru'

    # State_code
    try:
        State_cod = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        State_code_ = State_cod.text.split(',')[1].strip()  # Split the text by comma and get the second part
        State_code.append(State_code_)
    except:
        State_code.append('HR')  # Default state code assumed as 'KA'

    # Country
    try:
        Addr = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        Country.append(Addr.text)
    except:
        Country.append('India')  # Default country assumed as 'India'

    # Floor
    try:
        fl = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[9]/div[3]/h5')
        if '/' in fl.text:
            floor.append(fl.text)
        else:
            floor.append('None')
    except:
        floor.append('None')

    # Transaction type
    try:
        trans = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        transaction_type.append(trans.text)
    except:
        transaction_type.append('None')

    # Furnished status
    try:
        furnish = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[7]/div[3]/h5')
        if 'Fully Furnished' in furnish.text or 'Semi' in furnish.text:
            furnished_status.append(furnish.text)
        else:
            furnished_status.append('None')
    except:
        furnished_status.append('None')

    # Facing
    try:
        fac = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[8]/div[3]/h5')
        fac_text = fac.text.lower()  # Convert text to lowercase for case insensitivity
    
        if 'north-east' in fac_text or 'northeast' in fac_text:
            facing.append('northeast')
        elif 'south-east' in fac_text or 'southeast' in fac_text:
            facing.append('southeast')
        elif 'south-west' in fac_text or 'southwest' in fac_text:
            facing.append('southwest')
        elif 'north-west' in fac_text or 'northwest' in fac_text:
            facing.append('northwest')
        elif 'north' in fac_text:
            facing.append('North')
        elif 'east' in fac_text:
            facing.append('East')
        elif 'south' in fac_text:
            facing.append('South')
        elif 'west' in fac_text:
            facing.append('West')
        else:
            facing.append('None')
    except:
        facing.append('None')

    # Car Parking
    try:
        Car_Par = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[7]/div[2]/span/h4')
        Car_Parking.append(Car_Par.text)
    except:
        Car_Parking.append('None')

    # Type of ownership
    try:
        Type_of_owners = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[2]/div[3]/h5')
        Type_of_ownership.append(Type_of_owners.text)
    except:
        Type_of_ownership.append('None')

    # Booking amount
    try:
        booking = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        booking_amount.append(booking.text)
    except:
        booking_amount.append('None')

    
    # Buy total price
    CRORE_TO_THOUSAND = 10000000
    LAC_TO_THOUSAND = 100000

    def convert_price_to_thousands(price_text):
        if 'Crores' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Crores', '').strip())
            price_in_thousands = price_value * CRORE_TO_THOUSAND
        elif 'Lacs' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Lacs', '').strip())
            price_in_thousands = price_value * LAC_TO_THOUSAND
        else:
            price_in_thousands = float(price_text.replace('₹', '').strip())
        return price_in_thousands

    try:
        buy_t = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[3]/div[1]/div/div[1]/span')
        price_text = buy_t.text
        price_in_thousands = convert_price_to_thousands(price_text)
        buy_total_price.append(f'{round(price_in_thousands)}') 
    except:
        buy_total_price.append('None')
    
# Quit WebDriver
driver.quit()

In [9]:
df8=pd.DataFrame({
    "BHK_type": BHK_type,
    "Beds": BHK_type,
    "Bathroom": bathroom,
    "Carpet_area": carpetarea,
    "Price_per_square_feet": price_per_square_feet,
    "Property_Type": Property_Type,
    "Status": status,
    "Year_Built": Year_Built,
    "Landmarks": Landmarks,
    "Balcony": Balcony,
    "Address": Address,
    "City": City,
    "State_Code": State_code,
    "Country": Country,
    "Floor": floor,
    "Transaction_Type": transaction_type,
    "Furnished_Status": furnished_status,
    "Facing": facing,
    "Car_Parking": Car_Parking,
    "Type_of_Ownership": Type_of_ownership,
    "Booking_Amount": booking_amount,
    "Buy_Total_Price": buy_total_price
})

In [39]:
df8

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,2,2,2,NaN,NaN,Ramsons Kshitij Ram...,Immediately,NaN,Raheja Navodaya,1.0,...,HR,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,4000000.0
1,2,2,2,NaN,NaN,Ramsons Kshitij,Immediately,NaN,Raheja Navodaya,2.0,...,HR,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,4400000.0
2,2,2,2,NaN,NaN,Signature Global,Immediately,NaN,Raheja Navodaya,NaN,...,HR,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,5000000.0
3,2,2,2,NaN,NaN,Ramsons Kshitij Ram...,Immediately,NaN,Raheja Navodaya,2.0,...,HR,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,4000000.0
4,3,3,2,NaN,NaN,Ramsons Kshitij,Immediately,NaN,Raheja Navodaya,2.0,...,HR,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,4500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,4,4,21,NaN,NaN,Apartment,Immediately,NaN,Domino'S Pizza,NaN,...,HR,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,25000000.0
363,3,3,2,NaN,NaN,Standalone Building,Immediately,NaN,NaN,3.0,...,HR,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,5500000.0
364,2,2,2,NaN,NaN,Independent House,Immediately,NaN,Eros Corporate Park,1.0,...,HR,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,4200000.0
365,2,2,2,NaN,NaN,Independent House,Immediately,NaN,NaN,NaN,...,HR,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,7200000.0
366,3,3,2,NaN,NaN,Independent House,Immediately,NaN,NaN,NaN,...,HR,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,4000000.0

In [11]:
df8.to_csv('Gurgaon.csv', index=False)

In [30]:
df8=pd.read_csv(r'Gurgaon.csv')

In [31]:
df = pd.concat([df, df8])

In [32]:
df = df.reset_index(drop=True)

In [33]:
df

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,3,3,2.0,"1,500",346,Condo,Active,2004.0,CHI - Logan Square,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43139280.0
1,4,4,3.0,NaN,NaN,Condo,Active,2015.0,CHI - Avondale,NaN,...,IL 60618,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49863688.0
2,2,2,2.0,"1,300",296,Condo,Active,1988.0,CHI - Lincoln Park,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32001200.0
3,4,4,4.0,"4,000",350,Condo,NaN,NaN,Cook,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116284880.0
4,3,3,2.5,NaN,NaN,Condo,NaN,NaN,Cook,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52781200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343,4,4,21.0,NaN,NaN,Apartment,Immediately,NaN,Domino'S Pizza,NaN,...,HR,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,25000000.0
2344,3,3,2.0,NaN,NaN,Standalone Building,Immediately,NaN,NaN,3.0,...,HR,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,5500000.0
2345,2,2,2.0,NaN,NaN,Independent House,Immediately,NaN,Eros Corporate Park,1.0,...,HR,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,4200000.0
2346,2,2,2.0,NaN,NaN,Independent House,Immediately,NaN,NaN,NaN,...,HR,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,7200000.0
2347,3,3,2.0,NaN,NaN,Independent House,Immediately,NaN,NaN,NaN,...,HR,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,4000000.0

-----

----

# Hyderabad

In [12]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

In [13]:
# empty lists
Sno = []
BHK_type = []
Property_Type = []
beds = []
bathroom = []
Balcony = []
Address = []
City = []
State_code = []
Country = []
Landmarks = []
carpetarea = []
status = []
floor = []
transaction_type = []
Year_Built = []
price_per_square_feet = []
furnished_status = []
facing = []
Car_Parking = []
Type_of_ownership = []
booking_amount = []
buy_total_price = []

# chrome browser to webdriver
driver=webdriver.Chrome()

In [14]:
# Load website
driver.get("https://www.nobroker.in/")

In [15]:
#maximizing the window
driver.maximize_window()

In [ ]:
# Find search box 
search_box = driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[1]/div[4]/button")
search_box.click()

In [16]:
propertiess=[]

In [17]:
for p in driver.find_elements(By.XPATH,'//h2[@class="heading-6 flex items-center font-semi-bold m-0"]/a'):
    propertiess.append(p.get_attribute('href'))

In [18]:
len(propertiess)

340

In [19]:
for i in propertiess:  # Iterating each and every URL to fetch full details
    driver.get(i)  # Taking each URL one by one as an input
    sleep(1)

    # BHK_type 
    try:
        beds_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[1]/div[2]/span/h4')
        bed_text = beds_.text.replace('Bedroom', '').strip()
        BHK_type.append(bed_text)
    except:
        BHK_type.append('None')

    # Bathroom
    try:
        bath = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[3]/div[2]/span/h4')
        bath_text = bath.text.replace('Bathroom', '').strip()
        bathroom.append(bath_text)
    except:
        bathroom.append('None')

    # Carpet area
    try:
        cart_area = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[6]/div[3]/h5')
        if 'Sq.Ft' in cart_area.text:
            carpet_area = cart_area.text.replace(' Sq.Ft', '').replace(',', '')  # Remove ' Sq.Ft' and commas
            carpetarea.append(carpet_area)
        else:
            carpetarea.append('None')
    except:
        carpetarea.append('None')

    # Price per square feet
    try:
        PRSF = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[5]/div[1]')
        price_per_square_feet.append(PRSF.text)
    except:
        price_per_square_feet.append('None')

    # Property_Type
    try:
        Pro_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[6]/div[2]/span/h4')
        Property_Type.append(Pro_.text)
    except:
        Property_Type.append('None')

    # Status
    try:
        sta = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[4]/div[2]/span/h4')
        status.append(sta.text)
    except:
        status.append('None')

    # Year Built
    try:
        Year = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[10]/div[2]')
        year_text = Year.text.strip()
        
        if year_text.isdigit() and len(year_text) == 4:
            Year_Built.append(int(year_text))
        else:
            Year_Built.append('None')  # Append 'None' if not a valid year
    except:
        Year_Built.append('None')

    # Landmarks
    try:
        Landma = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[3]/div/div/span[2]/a[1]')
        Landmarks.append(Landma.text)
    except:
        Landmarks.append('None')

    # Balcony
    try:
        Balc = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[5]/div[2]/span/h4')
        if Balc.text.strip().upper() == 'NA':
            Balcony.append('None')
        else:
            Balcony.append(Balc.text.strip())
    except:
        Balcony.append('None')

    # Address
    try:
        Addr = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[2]/div[1]/h5')
        Address.append(Addr.text)
    except:
        Address.append('None')

    # City
    try:
        Cit = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        city_text = Cit.text.split(',')[0]  # Split the text by comma and get the first part
        City.append(city_text)
    except:
        City.append('Hyderabad')  # Default city assumed as 'Bengaluru'

    # State_code
    try:
        State_cod = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        State_code_ = State_cod.text.split(',')[1].strip()  # Split the text by comma and get the second part
        State_code.append(State_code_)
    except:
        State_code.append('TG')  # Default state code assumed as 'KA'

    # Country
    try:
        Addr = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        Country.append(Addr.text)
    except:
        Country.append('India')  # Default country assumed as 'India'

    # Floor
    try:
        fl = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[9]/div[3]/h5')
        if '/' in fl.text:
            floor.append(fl.text)
        else:
            floor.append('None')
    except:
        floor.append('None')

    # Transaction type
    try:
        trans = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        transaction_type.append(trans.text)
    except:
        transaction_type.append('None')

    # Furnished status
    try:
        furnish = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[7]/div[3]/h5')
        if 'Fully Furnished' in furnish.text or 'Semi' in furnish.text:
            furnished_status.append(furnish.text)
        else:
            furnished_status.append('None')
    except:
        furnished_status.append('None')

    # Facing
    try:
        fac = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[8]/div[3]/h5')
        fac_text = fac.text.lower()  # Convert text to lowercase for case insensitivity
    
        if 'north-east' in fac_text or 'northeast' in fac_text:
            facing.append('northeast')
        elif 'south-east' in fac_text or 'southeast' in fac_text:
            facing.append('southeast')
        elif 'south-west' in fac_text or 'southwest' in fac_text:
            facing.append('southwest')
        elif 'north-west' in fac_text or 'northwest' in fac_text:
            facing.append('northwest')
        elif 'north' in fac_text:
            facing.append('North')
        elif 'east' in fac_text:
            facing.append('East')
        elif 'south' in fac_text:
            facing.append('South')
        elif 'west' in fac_text:
            facing.append('West')
        else:
            facing.append('None')
    except:
        facing.append('None')

    # Car Parking
    try:
        Car_Par = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[7]/div[2]/span/h4')
        Car_Parking.append(Car_Par.text)
    except:
        Car_Parking.append('None')

    # Type of ownership
    try:
        Type_of_owners = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[2]/div[3]/h5')
        Type_of_ownership.append(Type_of_owners.text)
    except:
        Type_of_ownership.append('None')

    # Booking amount
    try:
        booking = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        booking_amount.append(booking.text)
    except:
        booking_amount.append('None')

    
    # Buy total price
    CRORE_TO_THOUSAND = 10000000
    LAC_TO_THOUSAND = 100000

    def convert_price_to_thousands(price_text):
        if 'Crores' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Crores', '').strip())
            price_in_thousands = price_value * CRORE_TO_THOUSAND
        elif 'Lacs' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Lacs', '').strip())
            price_in_thousands = price_value * LAC_TO_THOUSAND
        else:
            price_in_thousands = float(price_text.replace('₹', '').strip())
        return price_in_thousands

    try:
        buy_t = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[3]/div[1]/div/div[1]/span')
        price_text = buy_t.text
        price_in_thousands = convert_price_to_thousands(price_text)
        buy_total_price.append(f'{round(price_in_thousands)}') 
    except:
        buy_total_price.append('None')
    
# Quit WebDriver
driver.quit()

In [20]:
df9=pd.DataFrame({
    "BHK_type": BHK_type,
    "Beds": BHK_type,
    "Bathroom": bathroom,
    "Carpet_area": carpetarea,
    "Price_per_square_feet": price_per_square_feet,
    "Property_Type": Property_Type,
    "Status": status,
    "Year_Built": Year_Built,
    "Landmarks": Landmarks,
    "Balcony": Balcony,
    "Address": Address,
    "City": City,
    "State_Code": State_code,
    "Country": Country,
    "Floor": floor,
    "Transaction_Type": transaction_type,
    "Furnished_Status": furnished_status,
    "Facing": facing,
    "Car_Parking": Car_Parking,
    "Type_of_Ownership": Type_of_ownership,
    "Booking_Amount": booking_amount,
    "Buy_Total_Price": buy_total_price
})

In [21]:
df9

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,2,2,2,None,None,Priyanka Towers,"Jun 21, 2024",None,None,2,...,TG,India,None,None,None,None,Car,Self Owned,None,5500000
1,3,3,3,None,None,Jayalakshmi Towers,Immediately,None,None,1,...,TG,India,None,None,None,None,Car,Self Owned,None,16000000
2,3,3,3,None,None,Dayashankar Smr Squ...,Immediately,None,None,None,...,TG,India,None,None,None,None,Bike and Car,Self Owned,None,7000000
3,2,2,2,830,None,Shri Balaji Athelli...,Immediately,None,None,None,...,TG,India,3/5,None,Semi,North,Bike,Self Owned,None,7100000
4,2,2,2,1100,None,Windsor Avenue New ...,Immediately,None,None,2,...,TG,India,3/4,None,None,West,Bike and Car,Self Owned,None,7500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,2,2,2,830,None,Vishnu Complex,Immediately,None,Sandhya 70 Mm,2,...,TG,India,3/3,None,None,South,None,Self Owned,None,4000000
336,2,2,2,1000,None,Dev Varshit Apartme...,Immediately,None,None,1,...,TG,India,3/4,None,None,East,Bike,Self Owned,None,4100000
337,2,2,2,None,None,Hari Hara Nath,Immediately,None,Secunderabad,None,...,TG,India,None,None,None,None,Bike and Car,Self Owned,None,6200000
338,2,2,1,None,None,Independent House,Immediately,None,None,None,...,TG,India,None,None,None,None,Bike,Self Owned,None,25000000
339,1,1,5,150,None,Nallagutta,Immediately,None,None,None,...,TG,India,0/3,None,Semi,South,None,Self Owned,None,30000000

In [44]:
df9[250:260]

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
250,3,3,5,NaN,NaN,Independent House,Immediately,NaN,NaN,NaN,...,TG,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,NaN
251,2,2,2,832.0,NaN,Sreemaan Seethaiah ...,Immediately,NaN,Secunderabad,NaN,...,TG,India,5/5,NaN,NaN,North,Bike,Self Owned,NaN,7000000.0
252,2,2,2,NaN,NaN,Standalone Building,Immediately,NaN,Secunderabad,2.0,...,TG,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,3800000.0
253,1,1,1,NaN,NaN,Maatha Homes,Immediately,NaN,Tivoli Extreme Theatre,NaN,...,TG,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,1800000.0
254,1,1,1,NaN,NaN,Independent House,Immediately,NaN,NaN,NaN,...,TG,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,1500000.0
255,2,2,2,NaN,NaN,Sai Kiran Apartment,Immediately,NaN,Secunderabad,2.0,...,TG,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,8500000.0
256,4,4,3,630.0,NaN,Independent House,Immediately,NaN,NaN,1.0,...,TG,India,2/2,NaN,Semi,southeast,Bike,Self Owned,NaN,9500000.0
257,3,3,3,NaN,NaN,Shanta Sriram Chale...,Immediately,NaN,Sandhya 70 Mm,2.0,...,TG,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,12900000.0
258,3,3,2,NaN,NaN,Standalone Building,Immediately,NaN,NaN,2.0,...,TG,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,45000000.0
259,2,2,2,NaN,NaN,Ganesh Residency Ba...,Immediately,NaN,NaN,1.0,...,TG,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,3800000.0

In [22]:
df9.to_csv('Hyderabad.csv', index=False)

In [34]:
df9=pd.read_csv(r'Hyderabad.csv')

In [35]:
df = pd.concat([df, df9])

In [36]:
df = df.reset_index(drop=True)

In [37]:
df

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,3,3,2.0,"1,500",346,Condo,Active,2004.0,CHI - Logan Square,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43139280.0
1,4,4,3.0,NaN,NaN,Condo,Active,2015.0,CHI - Avondale,NaN,...,IL 60618,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49863688.0
2,2,2,2.0,"1,300",296,Condo,Active,1988.0,CHI - Lincoln Park,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32001200.0
3,4,4,4.0,"4,000",350,Condo,NaN,NaN,Cook,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116284880.0
4,3,3,2.5,NaN,NaN,Condo,NaN,NaN,Cook,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52781200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2683,2,2,2.0,830.0,NaN,Vishnu Complex,Immediately,NaN,Sandhya 70 Mm,2.0,...,TG,India,3/3,NaN,NaN,South,NaN,Self Owned,NaN,4000000.0
2684,2,2,2.0,1000.0,NaN,Dev Varshit Apartme...,Immediately,NaN,NaN,1.0,...,TG,India,3/4,NaN,NaN,East,Bike,Self Owned,NaN,4100000.0
2685,2,2,2.0,NaN,NaN,Hari Hara Nath,Immediately,NaN,Secunderabad,NaN,...,TG,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,6200000.0
2686,2,2,1.0,NaN,NaN,Independent House,Immediately,NaN,NaN,NaN,...,TG,India,NaN,NaN,NaN,NaN,Bike,Self Owned,NaN,25000000.0
2687,1,1,5.0,150.0,NaN,Nallagutta,Immediately,NaN,NaN,NaN,...,TG,India,0/3,NaN,Semi,South,NaN,Self Owned,NaN,30000000.0

----

---

# Noida

In [3]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

In [4]:
# empty lists
Sno = []
BHK_type = []
Property_Type = []
beds = []
bathroom = []
Balcony = []
Address = []
City = []
State_code = []
Country = []
Landmarks = []
carpetarea = []
status = []
floor = []
transaction_type = []
Year_Built = []
price_per_square_feet = []
furnished_status = []
facing = []
Car_Parking = []
Type_of_ownership = []
booking_amount = []
buy_total_price = []

# chrome browser to webdriver
driver=webdriver.Chrome()

In [5]:
# Load website
driver.get("https://www.nobroker.in/")

In [6]:
#maximizing the window
driver.maximize_window()

In [ ]:
# Find search box 
search_box = driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[1]/div[4]/button")
search_box.click()

In [7]:
propertiess=[]

In [8]:
for p in driver.find_elements(By.XPATH,'//h2[@class="heading-6 flex items-center font-semi-bold m-0"]/a'):
    propertiess.append(p.get_attribute('href'))

In [9]:
len(propertiess)

227

In [10]:
for i in propertiess:  # Iterating each and every URL to fetch full details
    driver.get(i)  # Taking each URL one by one as an input
    sleep(1)

    # BHK_type 
    try:
        beds_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[1]/div[2]/span/h4')
        bed_text = beds_.text.replace('Bedroom', '').strip()
        BHK_type.append(bed_text)
    except:
        BHK_type.append('None')

    # Bathroom
    try:
        bath = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[3]/div[2]/span/h4')
        bath_text = bath.text.replace('Bathroom', '').strip()
        bathroom.append(bath_text)
    except:
        bathroom.append('None')

    # Carpet area
    try:
        cart_area = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[6]/div[3]/h5')
        if 'Sq.Ft' in cart_area.text:
            carpet_area = cart_area.text.replace(' Sq.Ft', '').replace(',', '')  # Remove ' Sq.Ft' and commas
            carpetarea.append(carpet_area)
        else:
            carpetarea.append('None')
    except:
        carpetarea.append('None')

    # Price per square feet
    try:
        PRSF = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[5]/div[1]')
        price_per_square_feet.append(PRSF.text)
    except:
        price_per_square_feet.append('None')

    # Property_Type
    try:
        Pro_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[6]/div[2]/span/h4')
        Property_Type.append(Pro_.text)
    except:
        Property_Type.append('None')

    # Status
    try:
        sta = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[4]/div[2]/span/h4')
        status.append(sta.text)
    except:
        status.append('None')

    # Year Built
    try:
        Year = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[10]/div[2]')
        year_text = Year.text.strip()
        
        if year_text.isdigit() and len(year_text) == 4:
            Year_Built.append(int(year_text))
        else:
            Year_Built.append('None')  # Append 'None' if not a valid year
    except:
        Year_Built.append('None')

    # Landmarks
    try:
        Landma = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[3]/div/div/span[2]/a[1]')
        Landmarks.append(Landma.text)
    except:
        Landmarks.append('None')

    # Balcony
    try:
        Balc = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[5]/div[2]/span/h4')
        if Balc.text.strip().upper() == 'NA':
            Balcony.append('None')
        else:
            Balcony.append(Balc.text.strip())
    except:
        Balcony.append('None')

    # Address
    try:
        Addr = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[2]/div[1]/h5')
        Address.append(Addr.text)
    except:
        Address.append('None')

    # City
    try:
        Cit = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        city_text = Cit.text.split(',')[0]  # Split the text by comma and get the first part
        City.append(city_text)
    except:
        City.append('Noida')  # Default city assumed as 'Bengaluru'

    # State_code
    try:
        State_cod = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        State_code_ = State_cod.text.split(',')[1].strip()  # Split the text by comma and get the second part
        State_code.append(State_code_)
    except:
        State_code.append('UP')  # Default state code assumed as 'KA'

    # Country
    try:
        Addr = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        Country.append(Addr.text)
    except:
        Country.append('India')  # Default country assumed as 'India'

    # Floor
    try:
        fl = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[9]/div[3]/h5')
        if '/' in fl.text:
            floor.append(fl.text)
        else:
            floor.append('None')
    except:
        floor.append('None')

    # Transaction type
    try:
        trans = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        transaction_type.append(trans.text)
    except:
        transaction_type.append('None')

    # Furnished status
    try:
        furnish = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[7]/div[3]/h5')
        if 'Fully Furnished' in furnish.text or 'Semi' in furnish.text:
            furnished_status.append(furnish.text)
        else:
            furnished_status.append('None')
    except:
        furnished_status.append('None')

    # Facing
    try:
        fac = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[8]/div[3]/h5')
        fac_text = fac.text.lower()  # Convert text to lowercase for case insensitivity
    
        if 'north-east' in fac_text or 'northeast' in fac_text:
            facing.append('northeast')
        elif 'south-east' in fac_text or 'southeast' in fac_text:
            facing.append('southeast')
        elif 'south-west' in fac_text or 'southwest' in fac_text:
            facing.append('southwest')
        elif 'north-west' in fac_text or 'northwest' in fac_text:
            facing.append('northwest')
        elif 'north' in fac_text:
            facing.append('North')
        elif 'east' in fac_text:
            facing.append('East')
        elif 'south' in fac_text:
            facing.append('South')
        elif 'west' in fac_text:
            facing.append('West')
        else:
            facing.append('None')
    except:
        facing.append('None')

    # Car Parking
    try:
        Car_Par = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[7]/div[2]/span/h4')
        Car_Parking.append(Car_Par.text)
    except:
        Car_Parking.append('None')

    # Type of ownership
    try:
        Type_of_owners = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[2]/div[3]/h5')
        Type_of_ownership.append(Type_of_owners.text)
    except:
        Type_of_ownership.append('None')

    # Booking amount
    try:
        booking = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        booking_amount.append(booking.text)
    except:
        booking_amount.append('None')

    
    # Buy total price
    CRORE_TO_THOUSAND = 10000000
    LAC_TO_THOUSAND = 100000

    def convert_price_to_thousands(price_text):
        if 'Crores' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Crores', '').strip())
            price_in_thousands = price_value * CRORE_TO_THOUSAND
        elif 'Lacs' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Lacs', '').strip())
            price_in_thousands = price_value * LAC_TO_THOUSAND
        else:
            price_in_thousands = float(price_text.replace('₹', '').strip())
        return price_in_thousands

    try:
        buy_t = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[3]/div[1]/div/div[1]/span')
        price_text = buy_t.text
        price_in_thousands = convert_price_to_thousands(price_text)
        buy_total_price.append(f'{round(price_in_thousands)}') 
    except:
        buy_total_price.append('None')
    
# Quit WebDriver
driver.quit()

In [11]:
df10=pd.DataFrame({
    "BHK_type": BHK_type,
    "Beds": BHK_type,
    "Bathroom": bathroom,
    "Carpet_area": carpetarea,
    "Price_per_square_feet": price_per_square_feet,
    "Property_Type": Property_Type,
    "Status": status,
    "Year_Built": Year_Built,
    "Landmarks": Landmarks,
    "Balcony": Balcony,
    "Address": Address,
    "City": City,
    "State_Code": State_code,
    "Country": Country,
    "Floor": floor,
    "Transaction_Type": transaction_type,
    "Furnished_Status": furnished_status,
    "Facing": facing,
    "Car_Parking": Car_Parking,
    "Type_of_Ownership": Type_of_ownership,
    "Booking_Amount": booking_amount,
    "Buy_Total_Price": buy_total_price
})

In [49]:
df10

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,4,4,5,NaN,NaN,Jaypee Greens Kensi...,Immediately,NaN,DLF Mall Of India,NaN,...,UP,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,18200000.0
1,3,3,2,NaN,NaN,Super Tech Ecovilla...,Immediately,NaN,DLF Mall Of India,3.0,...,UP,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,8000000.0
2,4,4,4,NaN,NaN,Independent House,Immediately,NaN,DLF Mall Of India,2.0,...,UP,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,30000000.0
3,3,3,3,NaN,NaN,Independent House,Immediately,NaN,DLF Mall Of India,NaN,...,UP,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,100000000.0
4,4,4,6,NaN,NaN,Independent House,Immediately,NaN,DLF Mall Of India,NaN,...,UP,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,31500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,2,2,2,NaN,NaN,Independent House,Immediately,NaN,Logix Techno Park,NaN,...,UP,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,14000000.0
223,3,3,4,2300.0,NaN,Assotech Celeste To...,Immediately,NaN,Logix Techno Park,NaN,...,UP,India,17/28,NaN,Semi,East,Bike and Car,Self Owned,NaN,30000000.0
224,4,4,9,NaN,NaN,Standalone Building,Immediately,NaN,Cin Polis Spice,NaN,...,UP,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,37000000.0
225,2,2,2,1245.0,NaN,"Wave Amore, Sector ...",Immediately,NaN,Logix City Center Mall,2.0,...,UP,India,22/24,NaN,NaN,South,Car,Self Owned,NaN,19000000.0
226,4,4,6,2250.0,NaN,Independent House,Immediately,NaN,Logix City Center Mall,3.0,...,UP,India,2/2,NaN,Fully Furnished,southwest,Bike and Car,Self Owned,NaN,50000000.0

In [28]:
df10.to_csv('Noida.csv', index=False)

In [38]:
df10=pd.read_csv(r'Noida.csv')

In [39]:
df = pd.concat([df, df10])

In [40]:
df = df.reset_index(drop=True)

In [41]:
df

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,3,3,2.0,"1,500",346,Condo,Active,2004.0,CHI - Logan Square,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43139280.0
1,4,4,3.0,NaN,NaN,Condo,Active,2015.0,CHI - Avondale,NaN,...,IL 60618,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49863688.0
2,2,2,2.0,"1,300",296,Condo,Active,1988.0,CHI - Lincoln Park,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32001200.0
3,4,4,4.0,"4,000",350,Condo,NaN,NaN,Cook,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116284880.0
4,3,3,2.5,NaN,NaN,Condo,NaN,NaN,Cook,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52781200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2910,2,2,2.0,NaN,NaN,Independent House,Immediately,NaN,Logix Techno Park,NaN,...,UP,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,14000000.0
2911,3,3,4.0,2300.0,NaN,Assotech Celeste To...,Immediately,NaN,Logix Techno Park,NaN,...,UP,India,17/28,NaN,Semi,East,Bike and Car,Self Owned,NaN,30000000.0
2912,4,4,9.0,NaN,NaN,Standalone Building,Immediately,NaN,Cin Polis Spice,NaN,...,UP,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,37000000.0
2913,2,2,2.0,1245.0,NaN,"Wave Amore, Sector ...",Immediately,NaN,Logix City Center Mall,2.0,...,UP,India,22/24,NaN,NaN,South,Car,Self Owned,NaN,19000000.0
2914,4,4,6.0,2250.0,NaN,Independent House,Immediately,NaN,Logix City Center Mall,3.0,...,UP,India,2/2,NaN,Fully Furnished,southwest,Bike and Car,Self Owned,NaN,50000000.0

-----

------

# Ghaziabad

In [64]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

In [65]:
# empty lists
Sno = []
BHK_type = []
Property_Type = []
beds = []
bathroom = []
Balcony = []
Address = []
City = []
State_code = []
Country = []
Landmarks = []
carpetarea = []
status = []
floor = []
transaction_type = []
Year_Built = []
price_per_square_feet = []
furnished_status = []
facing = []
Car_Parking = []
Type_of_ownership = []
booking_amount = []
buy_total_price = []

# chrome browser to webdriver
driver=webdriver.Chrome()

In [66]:
# Load website
driver.get("https://www.nobroker.in/")

In [67]:
#maximizing the window
driver.maximize_window()

In [68]:
# Find search box 
search_box = driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[1]/div[4]/button")
search_box.click()

In [69]:
propertie=[]

In [70]:
for p in driver.find_elements(By.XPATH,'//h2[@class="heading-6 flex items-center font-semi-bold m-0"]/a'):
    propertie.append(p.get_attribute('href'))

In [71]:
len(propertie)

274

In [72]:
for i in propertie:  # Iterating each and every URL to fetch full details
    driver.get(i)  # Taking each URL one by one as an input
    sleep(1)

    # BHK_type 
    try:
        beds_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[1]/div[2]/span/h4')
        bed_text = beds_.text.replace('Bedroom', '').strip()
        BHK_type.append(bed_text)
    except:
        BHK_type.append('None')

    # Bathroom
    try:
        bath = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[3]/div[2]/span/h4')
        bath_text = bath.text.replace('Bathroom', '').strip()
        bathroom.append(bath_text)
    except:
        bathroom.append('None')

    # Carpet area
    try:
        cart_area = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[6]/div[3]/h5')
        if 'Sq.Ft' in cart_area.text:
            carpet_area = cart_area.text.replace(' Sq.Ft', '').replace(',', '')  # Remove ' Sq.Ft' and commas
            carpetarea.append(carpet_area)
        else:
            carpetarea.append('None')
    except:
        carpetarea.append('None')

    # Price per square feet
    try:
        PRSF = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[5]/div[1]')
        price_per_square_feet.append(PRSF.text)
    except:
        price_per_square_feet.append('None')

    # Property_Type
    try:
        Pro_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[6]/div[2]/span/h4')
        Property_Type.append(Pro_.text)
    except:
        Property_Type.append('None')

    # Status
    try:
        sta = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[4]/div[2]/span/h4')
        status.append(sta.text)
    except:
        status.append('None')

    # Year Built
    try:
        Year = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[10]/div[2]')
        year_text = Year.text.strip()
        
        if year_text.isdigit() and len(year_text) == 4:
            Year_Built.append(int(year_text))
        else:
            Year_Built.append('None')  # Append 'None' if not a valid year
    except:
        Year_Built.append('None')

    # Landmarks
    try:
        Landma = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[3]/div/div/span[2]/a[1]')
        Landmarks.append(Landma.text)
    except:
        Landmarks.append('None')

    # Balcony
    try:
        Balc = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[5]/div[2]/span/h4')
        if Balc.text.strip().upper() == 'NA':
            Balcony.append('None')
        else:
            Balcony.append(Balc.text.strip())
    except:
        Balcony.append('None')

    # Address
    try:
        Addr = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[2]/div[1]/h5')
        Address.append(Addr.text)
    except:
        Address.append('None')

    # City
    try:
        Cit = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        city_text = Cit.text.split(',')[0]  # Split the text by comma and get the first part
        City.append(city_text)
    except:
        City.append('Ghaziabad')  # Default city assumed as 'Bengaluru'

    # State_code
    try:
        State_cod = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        State_code_ = State_cod.text.split(',')[1].strip()  # Split the text by comma and get the second part
        State_code.append(State_code_)
    except:
        State_code.append('UP')  # Default state code assumed as 'KA'

    # Country
    try:
        Addr = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        Country.append(Addr.text)
    except:
        Country.append('India')  # Default country assumed as 'India'

    # Floor
    try:
        fl = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[9]/div[3]/h5')
        if '/' in fl.text:
            floor.append(fl.text)
        else:
            floor.append('None')
    except:
        floor.append('None')

    # Transaction type
    try:
        trans = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        transaction_type.append(trans.text)
    except:
        transaction_type.append('None')

    # Furnished status
    try:
        furnish = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[7]/div[3]/h5')
        if 'Fully Furnished' in furnish.text or 'Semi' in furnish.text:
            furnished_status.append(furnish.text)
        else:
            furnished_status.append('None')
    except:
        furnished_status.append('None')

    # Facing
    try:
        fac = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[8]/div[3]/h5')
        fac_text = fac.text.lower()  # Convert text to lowercase for case insensitivity
    
        if 'north-east' in fac_text or 'northeast' in fac_text:
            facing.append('northeast')
        elif 'south-east' in fac_text or 'southeast' in fac_text:
            facing.append('southeast')
        elif 'south-west' in fac_text or 'southwest' in fac_text:
            facing.append('southwest')
        elif 'north-west' in fac_text or 'northwest' in fac_text:
            facing.append('northwest')
        elif 'north' in fac_text:
            facing.append('North')
        elif 'east' in fac_text:
            facing.append('East')
        elif 'south' in fac_text:
            facing.append('South')
        elif 'west' in fac_text:
            facing.append('West')
        else:
            facing.append('None')
    except:
        facing.append('None')

    # Car Parking
    try:
        Car_Par = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[7]/div[2]/span/h4')
        Car_Parking.append(Car_Par.text)
    except:
        Car_Parking.append('None')

    # Type of ownership
    try:
        Type_of_owners = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[2]/div[3]/h5')
        Type_of_ownership.append(Type_of_owners.text)
    except:
        Type_of_ownership.append('None')

    # Booking amount
    try:
        booking = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        booking_amount.append(booking.text)
    except:
        booking_amount.append('None')

    
    # Buy total price
    CRORE_TO_THOUSAND = 10000000
    LAC_TO_THOUSAND = 100000

    def convert_price_to_thousands(price_text):
        if 'Crores' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Crores', '').strip())
            price_in_thousands = price_value * CRORE_TO_THOUSAND
        elif 'Lacs' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Lacs', '').strip())
            price_in_thousands = price_value * LAC_TO_THOUSAND
        else:
            price_in_thousands = float(price_text.replace('₹', '').strip())
        return price_in_thousands

    try:
        buy_t = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[3]/div[1]/div/div[1]/span')
        price_text = buy_t.text
        price_in_thousands = convert_price_to_thousands(price_text)
        buy_total_price.append(f'{round(price_in_thousands)}') 
    except:
        buy_total_price.append('None')
    
# Quit WebDriver
driver.quit()

In [73]:
df11=pd.DataFrame({
    "BHK_type": BHK_type,
    "Beds": BHK_type,
    "Bathroom": bathroom,
    "Carpet_area": carpetarea,
    "Price_per_square_feet": price_per_square_feet,
    "Property_Type": Property_Type,
    "Status": status,
    "Year_Built": Year_Built,
    "Landmarks": Landmarks,
    "Balcony": Balcony,
    "Address": Address,
    "City": City,
    "State_Code": State_code,
    "Country": Country,
    "Floor": floor,
    "Transaction_Type": transaction_type,
    "Furnished_Status": furnished_status,
    "Facing": facing,
    "Car_Parking": Car_Parking,
    "Type_of_Ownership": Type_of_ownership,
    "Booking_Amount": booking_amount,
    "Buy_Total_Price": buy_total_price
})

In [47]:
df11

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,4,4,Anyone,NaN,NaN,5-10 Years,Immediately,NaN,Gaur Central Mall,Bike,...,UP,India,NaN,NaN,NaN,NaN,NaN,West,NaN,NaN
1,3,3,Family,NaN,NaN,>10 Years,"Jul 1, 2024",NaN,VVIP Style,Bike,...,UP,India,NaN,NaN,NaN,NaN,1.0,North-East,NaN,NaN
2,2,2,Family,NaN,NaN,5-10 Years,Immediately,NaN,Gaur Central Mall,Car,...,UP,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,2,Anyone,NaN,NaN,Newly Constructed,Immediately,NaN,Gaur Central Mall,Bike,...,UP,India,NaN,NaN,NaN,NaN,1.0,North-East,NaN,NaN
4,1,1,"Family, Company",NaN,NaN,1-3 Years,Immediately,NaN,Gaur Central Mall,Bike,...,UP,India,NaN,NaN,NaN,NaN,2.0,North,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,2,2,Family,NaN,NaN,>10 Years,Immediately,NaN,NaN,NaN,...,UP,India,NaN,NaN,NaN,NaN,NaN,East,NaN,NaN
270,3,3,Anyone,NaN,NaN,>10 Years,Immediately,NaN,NaN,Bike,...,UP,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,1,1,Family,NaN,NaN,5-10 Years,"Jul 1, 2024",NaN,Movie Magic Cinema,Bike,...,UP,India,NaN,NaN,NaN,NaN,NaN,South,NaN,NaN
272,4,4,Anyone,NaN,NaN,3-5 Years,Immediately,NaN,NaN,Bike and Car,...,UP,India,NaN,NaN,NaN,NaN,NaN,North,NaN,NaN
273,1,1,Family,NaN,NaN,5-10 Years,"Aug 7, 2024",NaN,NaN,Bike,...,UP,India,NaN,NaN,NaN,NaN,NaN,East,NaN,NaN

In [75]:
df11.to_csv('Ghaziabad.csv', index=False)

In [46]:
df11['City']

0      Ghaziabad
1      Ghaziabad
2      Ghaziabad
3      Ghaziabad
4      Ghaziabad
         ...
269    Ghaziabad
270    Ghaziabad
271    Ghaziabad
272    Ghaziabad
273    Ghaziabad
Name: City, Length: 274, dtype: object

In [42]:
df11=pd.read_csv(r'Ghaziabad.csv')

In [43]:
df = pd.concat([df, df11])

In [44]:
df = df.reset_index(drop=True)

In [45]:
df

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,3,3,2.0,"1,500",346,Condo,Active,2004.0,CHI - Logan Square,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43139280.0
1,4,4,3.0,NaN,NaN,Condo,Active,2015.0,CHI - Avondale,NaN,...,IL 60618,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49863688.0
2,2,2,2.0,"1,300",296,Condo,Active,1988.0,CHI - Lincoln Park,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32001200.0
3,4,4,4.0,"4,000",350,Condo,NaN,NaN,Cook,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116284880.0
4,3,3,2.5,NaN,NaN,Condo,NaN,NaN,Cook,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52781200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3184,2,2,Family,NaN,NaN,>10 Years,Immediately,NaN,NaN,NaN,...,UP,India,NaN,NaN,NaN,NaN,NaN,East,NaN,NaN
3185,3,3,Anyone,NaN,NaN,>10 Years,Immediately,NaN,NaN,Bike,...,UP,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3186,1,1,Family,NaN,NaN,5-10 Years,"Jul 1, 2024",NaN,Movie Magic Cinema,Bike,...,UP,India,NaN,NaN,NaN,NaN,NaN,South,NaN,NaN
3187,4,4,Anyone,NaN,NaN,3-5 Years,Immediately,NaN,NaN,Bike and Car,...,UP,India,NaN,NaN,NaN,NaN,NaN,North,NaN,NaN
3188,1,1,Family,NaN,NaN,5-10 Years,"Aug 7, 2024",NaN,NaN,Bike,...,UP,India,NaN,NaN,NaN,NaN,NaN,East,NaN,NaN

------

-----

# Faridabad

In [1]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

In [2]:
# empty lists
Sno = []
BHK_type = []
Property_Type = []
beds = []
bathroom = []
Balcony = []
Address = []
City = []
State_code = []
Country = []
Landmarks = []
carpetarea = []
status = []
floor = []
transaction_type = []
Year_Built = []
price_per_square_feet = []
furnished_status = []
facing = []
Car_Parking = []
Type_of_ownership = []
booking_amount = []
buy_total_price = []

# chrome browser to webdriver
driver=webdriver.Chrome()

In [3]:
# Load website
driver.get("https://www.nobroker.in/")

In [4]:
#maximizing the window
driver.maximize_window()

In [ ]:
# Find search box 
search_box = driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[1]/div[4]/button")
search_box.click()

In [5]:
properties=[]

In [6]:
for p in driver.find_elements(By.XPATH,'//h2[@class="heading-6 flex items-center font-semi-bold m-0"]/a'):
    properties.append(p.get_attribute('href'))

In [7]:
len(properties)

586

In [8]:
for i in properties:  # Iterating each and every URL to fetch full details
    driver.get(i)  # Taking each URL one by one as an input
    sleep(1)

    # BHK_type 
    try:
        beds_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[1]/div[2]/span/h4')
        bed_text = beds_.text.replace('Bedroom', '').strip()
        BHK_type.append(bed_text)
    except:
        BHK_type.append('None')

    # Bathroom
    try:
        bath = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[3]/div[2]/span/h4')
        bath_text = bath.text.replace('Bathroom', '').strip()
        bathroom.append(bath_text)
    except:
        bathroom.append('None')

    # Carpet area
    try:
        cart_area = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[6]/div[3]/h5')
        if 'Sq.Ft' in cart_area.text:
            carpet_area = cart_area.text.replace(' Sq.Ft', '').replace(',', '')  # Remove ' Sq.Ft' and commas
            carpetarea.append(carpet_area)
        else:
            carpetarea.append('None')
    except:
        carpetarea.append('None')

    # Price per square feet
    try:
        PRSF = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[5]/div[1]')
        price_per_square_feet.append(PRSF.text)
    except:
        price_per_square_feet.append('None')

    # Property_Type
    try:
        Pro_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[6]/div[2]/span/h4')
        Property_Type.append(Pro_.text)
    except:
        Property_Type.append('None')

    # Status
    try:
        sta = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[4]/div[2]/span/h4')
        status.append(sta.text)
    except:
        status.append('None')

    # Year Built
    try:
        Year = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[10]/div[2]')
        year_text = Year.text.strip()
        
        if year_text.isdigit() and len(year_text) == 4:
            Year_Built.append(int(year_text))
        else:
            Year_Built.append('None')  # Append 'None' if not a valid year
    except:
        Year_Built.append('None')

    # Landmarks
    try:
        Landma = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[3]/div/div/span[2]/a[1]')
        Landmarks.append(Landma.text)
    except:
        Landmarks.append('None')

    # Balcony
    try:
        Balc = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[5]/div[2]/span/h4')
        if Balc.text.strip().upper() == 'NA':
            Balcony.append('None')
        else:
            Balcony.append(Balc.text.strip())
    except:
        Balcony.append('None')

    # Address
    try:
        Addr = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[2]/div[1]/h5')
        Address.append(Addr.text)
    except:
        Address.append('None')

    # City
    try:
        Cit = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        city_text = Cit.text.split(',')[0]  # Split the text by comma and get the first part
        City.append(city_text)
    except:
        City.append('Faridabad')  # Default city assumed as 'Bengaluru'

    # State_code
    try:
        State_cod = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        State_code_ = State_cod.text.split(',')[1].strip()  # Split the text by comma and get the second part
        State_code.append(State_code_)
    except:
        State_code.append('HR')  # Default state code assumed as 'KA'

    # Country
    try:
        Addr = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        Country.append(Addr.text)
    except:
        Country.append('India')  # Default country assumed as 'India'

    # Floor
    try:
        fl = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[9]/div[3]/h5')
        if '/' in fl.text:
            floor.append(fl.text)
        else:
            floor.append('None')
    except:
        floor.append('None')

    # Transaction type
    try:
        trans = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        transaction_type.append(trans.text)
    except:
        transaction_type.append('None')

    # Furnished status
    try:
        furnish = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[7]/div[3]/h5')
        if 'Fully Furnished' in furnish.text or 'Semi' in furnish.text:
            furnished_status.append(furnish.text)
        else:
            furnished_status.append('None')
    except:
        furnished_status.append('None')

    # Facing
    try:
        fac = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[8]/div[3]/h5')
        fac_text = fac.text.lower()  # Convert text to lowercase for case insensitivity
    
        if 'north-east' in fac_text or 'northeast' in fac_text:
            facing.append('northeast')
        elif 'south-east' in fac_text or 'southeast' in fac_text:
            facing.append('southeast')
        elif 'south-west' in fac_text or 'southwest' in fac_text:
            facing.append('southwest')
        elif 'north-west' in fac_text or 'northwest' in fac_text:
            facing.append('northwest')
        elif 'north' in fac_text:
            facing.append('North')
        elif 'east' in fac_text:
            facing.append('East')
        elif 'south' in fac_text:
            facing.append('South')
        elif 'west' in fac_text:
            facing.append('West')
        else:
            facing.append('None')
    except:
        facing.append('None')

    # Car Parking
    try:
        Car_Par = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[7]/div[2]/span/h4')
        Car_Parking.append(Car_Par.text)
    except:
        Car_Parking.append('None')

    # Type of ownership
    try:
        Type_of_owners = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[2]/div[3]/h5')
        Type_of_ownership.append(Type_of_owners.text)
    except:
        Type_of_ownership.append('None')

    # Booking amount
    try:
        booking = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        booking_amount.append(booking.text)
    except:
        booking_amount.append('None')

    
    # Buy total price
    CRORE_TO_THOUSAND = 10000000
    LAC_TO_THOUSAND = 100000

    def convert_price_to_thousands(price_text):
        if 'Crores' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Crores', '').strip())
            price_in_thousands = price_value * CRORE_TO_THOUSAND
        elif 'Lacs' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Lacs', '').strip())
            price_in_thousands = price_value * LAC_TO_THOUSAND
        else:
            price_in_thousands = float(price_text.replace('₹', '').strip())
        return price_in_thousands

    try:
        buy_t = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[3]/div[1]/div/div[1]/span')
        price_text = buy_t.text
        price_in_thousands = convert_price_to_thousands(price_text)
        buy_total_price.append(f'{round(price_in_thousands)}') 
    except:
        buy_total_price.append('None')
    
# Quit WebDriver
driver.quit()

In [9]:
df12=pd.DataFrame({
    "BHK_type": BHK_type,
    "Beds": BHK_type,
    "Bathroom": bathroom,
    "Carpet_area": carpetarea,
    "Price_per_square_feet": price_per_square_feet,
    "Property_Type": Property_Type,
    "Status": status,
    "Year_Built": Year_Built,
    "Landmarks": Landmarks,
    "Balcony": Balcony,
    "Address": Address,
    "City": City,
    "State_Code": State_code,
    "Country": Country,
    "Floor": floor,
    "Transaction_Type": transaction_type,
    "Furnished_Status": furnished_status,
    "Facing": facing,
    "Car_Parking": Car_Parking,
    "Type_of_Ownership": Type_of_ownership,
    "Booking_Amount": booking_amount,
    "Buy_Total_Price": buy_total_price
})

In [15]:
df12

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,3,3,3,3300,None,Independent House,Immediately,None,Crown Plaza,None,...,HR,India,0/0,None,Fully Furnished,North,Car,Self Owned,None,19000000
1,3,3,3,3180,None,Independent House,Immediately,None,Crown Plaza,1,...,HR,India,1/4,None,Semi,North,Bike and Car,Self Owned,None,7000000
2,2,2,2,None,None,Independent House,Immediately,None,Crown Plaza,None,...,HR,India,None,None,None,None,Bike,Self Owned,None,19000000
3,4,4,2,None,None,Independent House,Immediately,None,Crown Plaza,None,...,HR,India,None,None,None,None,Bike and Car,Self Owned,None,6500000
4,4,4,5,3565,None,Independent House,Immediately,None,Crown Plaza,3,...,HR,India,2/2,None,Fully Furnished,East,Bike and Car,Self Owned,None,67000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,3,3,1,None,None,Independent House,Immediately,None,Crown Interiorz Mall,1,...,HR,India,None,None,None,None,Car,Self Owned,None,8000000
582,1,1,2,None,None,Independent House,Immediately,None,Crown Interiorz Mall,1,...,HR,India,None,None,None,None,None,Self Owned,None,3500000
583,3,3,2,None,None,Standalone Building,Immediately,None,Anupama Sweets Restaurant,2,...,HR,India,None,None,None,None,Bike and Car,Self Owned,None,5500000
584,3,3,2,None,None,Standalone Building,Immediately,None,None,None,...,HR,India,None,None,None,None,Bike and Car,Self Owned,None,6500000
585,1,1,2,540,None,Sb,Immediately,None,None,None,...,HR,India,1/2,None,None,North,Bike,Self Owned,None,4000000

In [16]:
df12.to_csv('Faridabad_2.csv', index=False)

In [17]:
df12=pd.read_csv(r'Faridabad_2.csv')

In [18]:
df = pd.concat([df, df12])

In [19]:
df = df.reset_index(drop=True)

------

----

# GreaterNoida

In [1]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

In [22]:
# empty lists
Sno = []
BHK_type = []
Property_Type = []
beds = []
bathroom = []
Balcony = []
Address = []
City = []
State_code = []
Country = []
Landmarks = []
carpetarea = []
status = []
floor = []
transaction_type = []
Year_Built = []
price_per_square_feet = []
furnished_status = []
facing = []
Car_Parking = []
Type_of_ownership = []
booking_amount = []
buy_total_price = []

# chrome browser to webdriver
driver=webdriver.Chrome()

In [23]:
# Load website
driver.get("https://www.nobroker.in/")

In [24]:
#maximizing the window
driver.maximize_window()

In [ ]:
# Find search box 
search_box = driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[1]/div[4]/button")
search_box.click()

In [ ]:
propertiess=[]

In [ ]:
for p in driver.find_elements(By.XPATH,'//h2[@class="heading-6 flex items-center font-semi-bold m-0"]/a'):
    propertiess.append(p.get_attribute('href'))

In [ ]:
len(propertiess)

In [ ]:
for i in propertiess:  # Iterating each and every URL to fetch full details
    driver.get(i)  # Taking each URL one by one as an input
    sleep(1)

    # BHK_type 
    try:
        beds_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[1]/div[2]/span/h4')
        bed_text = beds_.text.replace('Bedroom', '').strip()
        BHK_type.append(bed_text)
    except:
        BHK_type.append('None')

    # Bathroom
    try:
        bath = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[3]/div[2]/span/h4')
        bath_text = bath.text.replace('Bathroom', '').strip()
        bathroom.append(bath_text)
    except:
        bathroom.append('None')

    # Carpet area
    try:
        cart_area = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[6]/div[3]/h5')
        if 'Sq.Ft' in cart_area.text:
            carpet_area = cart_area.text.replace(' Sq.Ft', '').replace(',', '')  # Remove ' Sq.Ft' and commas
            carpetarea.append(carpet_area)
        else:
            carpetarea.append('None')
    except:
        carpetarea.append('None')

    # Price per square feet
    try:
        PRSF = driver.find_element(By.XPATH, '//div[@class="flexbox hidden-mobile"]/div[5]/div[1]')
        price_per_square_feet.append(PRSF.text)
    except:
        price_per_square_feet.append('None')

    # Property_Type
    try:
        Pro_ = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[6]/div[2]/span/h4')
        Property_Type.append(Pro_.text)
    except:
        Property_Type.append('None')

    # Status
    try:
        sta = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[4]/div[2]/span/h4')
        status.append(sta.text)
    except:
        status.append('None')

    # Year Built
    try:
        Year = driver.find_element(By.XPATH, '//div[@class="outer-parameters-block"]/ul/li[10]/div[2]')
        year_text = Year.text.strip()
        
        if year_text.isdigit() and len(year_text) == 4:
            Year_Built.append(int(year_text))
        else:
            Year_Built.append('None')  # Append 'None' if not a valid year
    except:
        Year_Built.append('None')

    # Landmarks
    try:
        Landma = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[3]/div/div/span[2]/a[1]')
        Landmarks.append(Landma.text)
    except:
        Landmarks.append('None')

    # Balcony
    try:
        Balc = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[5]/div[2]/span/h4')
        if Balc.text.strip().upper() == 'NA':
            Balcony.append('None')
        else:
            Balcony.append(Balc.text.strip())
    except:
        Balcony.append('None')

    # Address
    try:
        Addr = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[2]/div[1]/h5')
        Address.append(Addr.text)
    except:
        Address.append('None')

    # City
    try:
        Cit = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        city_text = Cit.text.split(',')[0]  # Split the text by comma and get the first part
        City.append(city_text)
    except:
        City.append('GreaterNoida')  # Default city assumed as 'Bengaluru'

    # State_code
    try:
        State_cod = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        State_code_ = State_cod.text.split(',')[1].strip()  # Split the text by comma and get the second part
        State_code.append(State_code_)
    except:
        State_code.append('UP')  # Default state code assumed as 'KA'

    # Country
    try:
        Addr = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[2]')
        Country.append(Addr.text)
    except:
        Country.append('India')  # Default country assumed as 'India'

    # Floor
    try:
        fl = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[9]/div[3]/h5')
        if '/' in fl.text:
            floor.append(fl.text)
        else:
            floor.append('None')
    except:
        floor.append('None')

    # Transaction type
    try:
        trans = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        transaction_type.append(trans.text)
    except:
        transaction_type.append('None')

    # Furnished status
    try:
        furnish = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[7]/div[3]/h5')
        if 'Fully Furnished' in furnish.text or 'Semi' in furnish.text:
            furnished_status.append(furnish.text)
        else:
            furnished_status.append('None')
    except:
        furnished_status.append('None')

    # Facing
    try:
        fac = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[8]/div[3]/h5')
        fac_text = fac.text.lower()  # Convert text to lowercase for case insensitivity
    
        if 'north-east' in fac_text or 'northeast' in fac_text:
            facing.append('northeast')
        elif 'south-east' in fac_text or 'southeast' in fac_text:
            facing.append('southeast')
        elif 'south-west' in fac_text or 'southwest' in fac_text:
            facing.append('southwest')
        elif 'north-west' in fac_text or 'northwest' in fac_text:
            facing.append('northwest')
        elif 'north' in fac_text:
            facing.append('North')
        elif 'east' in fac_text:
            facing.append('East')
        elif 'south' in fac_text:
            facing.append('South')
        elif 'west' in fac_text:
            facing.append('West')
        else:
            facing.append('None')
    except:
        facing.append('None')

    # Car Parking
    try:
        Car_Par = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[2]/div[2]/div/section/div[2]/div[7]/div[2]/span/h4')
        Car_Parking.append(Car_Par.text)
    except:
        Car_Parking.append('None')

    # Type of ownership
    try:
        Type_of_owners = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[2]/div/div[1]/div[1]/div/div[2]/div[2]/div[3]/h5')
        Type_of_ownership.append(Type_of_owners.text)
    except:
        Type_of_ownership.append('None')

    # Booking amount
    try:
        booking = driver.find_element(By.XPATH, '//h1[@class="property-title-wrapper"]/span[10]')
        booking_amount.append(booking.text)
    except:
        booking_amount.append('None')

    
    # Buy total price
    CRORE_TO_THOUSAND = 10000000
    LAC_TO_THOUSAND = 100000

    def convert_price_to_thousands(price_text):
        if 'Crores' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Crores', '').strip())
            price_in_thousands = price_value * CRORE_TO_THOUSAND
        elif 'Lacs' in price_text:
            price_value = float(price_text.replace('₹', '').replace('Lacs', '').strip())
            price_in_thousands = price_value * LAC_TO_THOUSAND
        else:
            price_in_thousands = float(price_text.replace('₹', '').strip())
        return price_in_thousands

    try:
        buy_t = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/section/div/div[1]/div/div/section[1]/div/div[1]/div/div/div[1]/div[3]/div[1]/div/div[1]/span')
        price_text = buy_t.text
        price_in_thousands = convert_price_to_thousands(price_text)
        buy_total_price.append(f'{round(price_in_thousands)}') 
    except:
        buy_total_price.append('None')
    
# Quit WebDriver
driver.quit()

In [12]:
df13=pd.DataFrame({
    "BHK_type": BHK_type,
    "Beds": BHK_type,
    "Bathroom": bathroom,
    "Carpet_area": carpetarea,
    "Price_per_square_feet": price_per_square_feet,
    "Property_Type": Property_Type,
    "Status": status,
    "Year_Built": Year_Built,
    "Landmarks": Landmarks,
    "Balcony": Balcony,
    "Address": Address,
    "City": City,
    "State_Code": State_code,
    "Country": Country,
    "Floor": floor,
    "Transaction_Type": transaction_type,
    "Furnished_Status": furnished_status,
    "Facing": facing,
    "Car_Parking": Car_Parking,
    "Type_of_Ownership": Type_of_ownership,
    "Booking_Amount": booking_amount,
    "Buy_Total_Price": buy_total_price
})

In [58]:
df13

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,3,3,2,NaN,NaN,Supertech Upcountry...,Immediately,NaN,NaN,NaN,...,UP,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,7500000.0
1,1,1,1,270.0,NaN,Standalone Building,Immediately,NaN,NaN,NaN,...,UP,India,0/4,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,2200000.0
2,1,1,1,NaN,NaN,Yamuna Expressway,Immediately,NaN,NaN,NaN,...,UP,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,1200000.0
3,2,2,1,NaN,NaN,Supertech Upcountry,Immediately,NaN,Queensland Faishons,3.0,...,UP,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,3500000.0
4,3,3,4,NaN,NaN,Independent House,Immediately,NaN,NaN,NaN,...,UP,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,12000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,4,4,20,NaN,NaN,Independent House,Immediately,NaN,NaN,NaN,...,UP,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,70000000.0
170,3,3,3,NaN,NaN,Oasis Homes,Immediately,NaN,Alpha 2 Main Market,NaN,...,UP,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,8000000.0
171,2,2,2,NaN,NaN,Crc Sublimis,Immediately,NaN,Smart Food,2.0,...,UP,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,9000000.0
172,3,3,2,NaN,NaN,Crc Sublimis,Immediately,NaN,Smart Food,NaN,...,UP,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,9000000.0
173,3,3,4,900.0,NaN,Independent House,Immediately,NaN,Smart Food,NaN,...,UP,India,2/2,NaN,Semi,northwest,Bike and Car,Self Owned,NaN,16000000.0

In [58]:
df13.to_csv('GreaterNoida.csv', index=False)

In [54]:
df13 = pd.read_csv(r'GreaterNoida.csv')

In [55]:
df = pd.concat([df, df13])

In [56]:
df = df.reset_index(drop=True)

In [21]:
df

,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,Balcony,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,3,3,2.0,"1,500",346,Condo,Active,2004.0,CHI - Logan Square,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43139280.0
1,4,4,3.0,NaN,NaN,Condo,Active,2015.0,CHI - Avondale,NaN,...,IL 60618,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49863688.0
2,2,2,2.0,"1,300",296,Condo,Active,1988.0,CHI - Lincoln Park,NaN,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32001200.0
3,4,4,4.0,"4,000",350,Condo,NaN,NaN,Cook,NaN,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116284880.0
4,3,3,2.5,NaN,NaN,Condo,NaN,NaN,Cook,Balcony,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52781200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4050,3,3,1,NaN,NaN,Independent House,Immediately,NaN,Crown Interiorz Mall,1.0,...,HR,India,NaN,NaN,NaN,NaN,Car,Self Owned,NaN,8000000.0
4051,1,1,2,NaN,NaN,Independent House,Immediately,NaN,Crown Interiorz Mall,1.0,...,HR,India,NaN,NaN,NaN,NaN,NaN,Self Owned,NaN,3500000.0
4052,3,3,2,NaN,NaN,Standalone Building,Immediately,NaN,Anupama Sweets Restaurant,2.0,...,HR,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,5500000.0
4053,3,3,2,NaN,NaN,Standalone Building,Immediately,NaN,NaN,NaN,...,HR,India,NaN,NaN,NaN,NaN,Bike and Car,Self Owned,NaN,6500000.0
4054,1,1,2,540.0,NaN,Sb,Immediately,NaN,NaN,NaN,...,HR,India,1/2,NaN,NaN,North,Bike,Self Owned,NaN,4000000.0

In [22]:
df.to_csv('webscraping_capstone.csv', index=False)

------

----

# PHASE-2

-----

-----

In [2]:
#importing libraries
import pandas as pd

In [3]:
df=pd.read_csv(r'webscraping_capstone.csv')

In [ ]:
df.reset_index(drop=True, inplace=True)
df.insert(0, 'Sno', df.index + 1)

In [5]:
df.head()

,Sno,BHK_type,Beds,Bathroom,Carpet_area,Price_per_square_feet,Property_Type,Status,Year_Built,Landmarks,...,State_Code,Country,Floor,Transaction_Type,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,1,3,3,2.0,"1,500",346,Condo,Active,2004.0,CHI - Logan Square,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43139280.0
1,2,4,4,3.0,NaN,NaN,Condo,Active,2015.0,CHI - Avondale,...,IL 60618,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49863688.0
2,3,2,2,2.0,"1,300",296,Condo,Active,1988.0,CHI - Lincoln Park,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32001200.0
3,4,4,4,4.0,"4,000",350,Condo,NaN,NaN,Cook,...,IL 60610,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116284880.0
4,5,3,3,2.5,NaN,NaN,Condo,NaN,NaN,Cook,...,IL 60614,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52781200.0

In [13]:
df.to_csv('webscraping_capstone.csv', index=False)

In [14]:
df.columns

Index(['Sno', 'BHK_type', 'Beds', 'Bathroom', 'Carpet_area',
       'Price_per_square_feet', 'Property_Type', 'Status', 'Year_Built',
       'Landmarks', 'Balcony', 'Address', 'City', 'State_Code', 'Country',
       'Floor', 'Transaction_Type', 'Furnished_Status', 'Facing',
       'Car_Parking', 'Type_of_Ownership', 'Booking_Amount',
       'Buy_Total_Price'],
      dtype='object')

# table_1

In [7]:
table1 = df[['Sno', 'BHK_type', 'Property_Type', 'Beds', 'Bathroom', 'Balcony', 
                  'Address', 'City', 'State_Code', 'Country', 'Landmarks']]

In [9]:
table1.head()

,Sno,BHK_type,Property_Type,Beds,Bathroom,Balcony,Address,City,State_Code,Country,Landmarks
0,1,3,Condo,3,2.0,Balcony,2243 North Lister Avenue #402,Chicago,IL 60614,United States,CHI - Logan Square
1,2,4,Condo,4,3.0,NaN,3215 North ELSTON Avenue #1N,Chicago,IL 60618,United States,CHI - Avondale
2,3,2,Condo,2,2.0,NaN,937 West Wrightwood Avenue #A,Chicago,IL 60614,United States,CHI - Lincoln Park
3,4,4,Condo,4,4.0,NaN,1438 North North Park Avenue #1,Chicago,IL 60610,United States,Cook
4,5,3,Condo,3,2.5,Balcony,443 West Grant Place #C,Chicago,IL 60614,United States,Cook

In [16]:
table1.columns

Index(['Sno', 'BHK_type', 'Property_Type', 'Beds', 'Bathroom', 'Balcony',
       'Address', 'City', 'State_Code', 'Country', 'Landmarks'],
      dtype='object')

In [8]:
table1.to_csv('table_1.csv', index=False)

# table_2

In [10]:
table2 =df[ ['Sno', 'Carpet_area', 'Status', 'Floor', 'Transaction_Type', 'Year_Built', 
                  'Price_per_square_feet']]

In [12]:
table2.head()

,Sno,Carpet_area,Status,Floor,Transaction_Type,Year_Built,Price_per_square_feet
0,1,"1,500",Active,NaN,NaN,2004.0,346
1,2,NaN,Active,NaN,NaN,2015.0,NaN
2,3,"1,300",Active,NaN,NaN,1988.0,296
3,4,"4,000",NaN,NaN,NaN,NaN,350
4,5,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
table2.columns

Index(['Sno', 'Carpet_area', 'Status', 'Floor', 'Transaction_Type',
       'Year_Built', 'Price_per_square_feet'],
      dtype='object')

In [11]:
table2.to_csv('table_2.csv', index=False)

# table3

In [13]:
table3 =df [['Sno', 'Furnished_Status', 'Facing', 'Car_Parking', 'Type_of_Ownership', 
                  'Booking_Amount', 'Buy_Total_Price']]

In [14]:
table3.head()

,Sno,Furnished_Status,Facing,Car_Parking,Type_of_Ownership,Booking_Amount,Buy_Total_Price
0,1,NaN,NaN,NaN,NaN,NaN,43139280.0
1,2,NaN,NaN,NaN,NaN,NaN,49863688.0
2,3,NaN,NaN,NaN,NaN,NaN,32001200.0
3,4,NaN,NaN,NaN,NaN,NaN,116284880.0
4,5,NaN,NaN,NaN,NaN,NaN,52781200.0

In [18]:
table3.columns

Index(['Sno', 'Furnished_Status', 'Facing', 'Car_Parking', 'Type_of_Ownership',
       'Booking_Amount', 'Buy_Total_Price'],
      dtype='object')

In [15]:
table3.to_csv('table_3.csv', index=False)